@use 'sass:math';

// -----------------------------------------------------------------
// setting import
// -----------------------------------------------------------------
@use './index' as *;

// -----------------------------------------------------------------
// MAX size setting
// -----------------------------------------------------------------
@function px($size, $rem: false) {
  $calcNum: $size * 1px;
  @if ($rem) {
    $calcNum: $size * 0.1rem;
  }
  @return $calcNum;
}

@function vw($size) {
  @return #{$size * (math.div($MAX, $BASE))}px;
}

// -----------------------------------------------------------------
// Mixin
// -----------------------------------------------------------------
