@use 'sass:math';

// -----------------------------------------------------------------
// setting import
// -----------------------------------------------------------------
@use './index' as *;

// -----------------------------------------------------------------
// TB size setting
// -----------------------------------------------------------------
@function px($size, $rem: false) {
  @return get_vw($size * 0.85, $TB);
}

// vw(サイズ, 最小px, 最大px)
@function vw($size, $min: null, $max: null) {
  $vw: get_vw($size * 0.85, $TB);

  @if $min != null and $max != null {
    @return clamp(#{$min}px, #{$vw}, #{$max}px);
  } @else if $min != null {
    // 最小値のみ → min(px, vw)
    @return max(#{$min}px, #{$vw});
  } @else if $max != null {
    // 最大値のみ → max(vw, px)
    @return min(#{$vw}, #{$max}px);
  }

  @return $vw;
}

// -----------------------------------------------------------------
// Mixin
// -----------------------------------------------------------------
