// -----------------------------------------------------------------
// Device Width
// -----------------------------------------------------------------
$MAX: 1440;
$XL: 1680;
$BASE: 1440;
$TB: 1024;
$SP: 750;
$SP_HORIZONTAL: 768;

// -----------------------------------------------------------------
// Variable
// -----------------------------------------------------------------
// Filter
$toWhite: grayscale(100%) brightness(500%);
$toBlack: brightness(0%);
$outlineWhite: drop-shadow(1px 0 0 white) drop-shadow(-1px 0 0 white) drop-shadow(0 1px 0 white) drop-shadow(0 -1px 0 white);

// Color
$black: #000000;
$white: #e5edf3;
$gray: #3d4a55;
$lightgray: #c2c9ce;
