// -----------------------------------------------------------------
// Device Width
// -----------------------------------------------------------------
$MAX: 1440;
$XL: 1680;
$BASE: 1440;
$TB: 1024;
$SP: 750;
$SP_HORIZONTAL: 768;

// -----------------------------------------------------------------
// Variable
// -----------------------------------------------------------------
// Filter
$toWhite: grayscale(100%) brightness(500%);
$toBlack: brightness(0%);
$outlineWhite: drop-shadow(1px 0 0 white) drop-shadow(-1px 0 0 white) drop-shadow(0 1px 0 white) drop-shadow(0 -1px 0 white);

// Color
$black: #1d262b;
$white: #ffffff;
$gray: #d9d9d9;
$gray2: #637985;
$lightgray: #ededed;
$yellow: #cfdd3c;
$green: #8c9a00;

// font
@mixin inter {
  font-family: 'Inter', sans-serif;
}

@mixin zenkaku {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 400;
}

$outline: drop-shadow(0.5px 0.5px 0 $black) drop-shadow(-0.5px -0.5px 0 $black) drop-shadow(-0.5px 0.5px 0 $black) drop-shadow(0.5px -0.5px 0 $black);
