# =====================
# build output
# =====================
../dist/

# =====================
# dependencies
# =====================
node_modules/

# =====================
# generated / vendor
# =====================
**/*.min.js

# =====================
# templates (handled by pug)
# =====================
**/*.html