@use 'sass:math';

// -----------------------------------------------------------------
// setting import
// -----------------------------------------------------------------
@use '../../../core/' as *;
@use '../../../core/config_max' as *;

// -----------------------------------------------------------------
// MAX size layout
// -----------------------------------------------------------------
@include max {
  // -----------------------------------------------------------------
  // TOP layout
  // -----------------------------------------------------------------
  [data-parent='top'] {
    section.mv {
      margin-bottom: vw(48);
      // width: vw(1440);
      // height: vw(764);

      #lottie {
        // bottom: vw(40);
        // width: vw(1280);
        // height: vw(580);
      }
    } // mv

    section.statement {
      height: vw(905);
      margin-bottom: vw(170);

      .bg {
        width: vw(1308);
        height: vw(905);
        margin-left: vw(-630);

        &:before {
          top: vw(30);
          left: vw(-50);
        }
      }

      .catchcopy {
        font-size: vw(57);
        margin-left: vw(-637);
      }

      .subcopy {
        margin-left: vw(664);
      }

      .inner {
        width: vw(1240);
        padding-left: vw(123);
        padding-right: vw(26);
      }

      .txt {
        h2 {
          font-size: vw(32);
          margin-bottom: vw(26);
        }
      }
    } // statement

    section.ai_sports {
      margin-bottom: vw(180);

      .sec_title {
        margin-bottom: vw(34);
      }

      .c1 {
        margin-bottom: vw(80);

        .lead {
          width: vw(850);
        }
      } // c1

      .c2 {
        margin-bottom: vw(44);

        &:before,
        &:after {
          width: vw(574);
          height: vw(574);
        }

        &:before {
          margin-left: vw(-550);
        }

        &:after {
          margin-left: vw(-23);
        }

        .unit {
          width: vw(574);
          height: vw(574);
          padding-inline: vw(90);

          h3 {
            font-size: vw(32);
            margin-bottom: vw(20);
          }

          p {
            margin-bottom: vw(32);
          }
        }

        .u1 {
          margin-right: vw(-24);

          figure {
            width: vw(216);
          }
        }

        .u2 {
          margin-left: vw(-24);

          figure {
            width: vw(123);
          }
        }
      } // c2

      .c3 {
        &:before {
          width: vw(211);
          height: vw(130);
          margin-left: vw(-105);
        }

        p {
          font-size: vw(24);
          margin-bottom: vw(72);
        }

        ul {
          margin-bottom: vw(44);
        }
      } // c3
    } // ai_sports

    section.facility {
      .contents {
        width: calc(100% + #{vw(100)});
      }

      .main {
        background-image: linear-gradient(to bottom, $gray2 vw(4), transparent vw(4));
        background-size: 1px vw(8);
        width: vw(878);
        padding-top: vw(34);
        padding-bottom: vw(118);

        .lead {
          margin-bottom: vw(80);
          padding-right: vw(50);
        }

        .map {
          margin-left: vw(-36);
          width: vw(893);
          height: vw(727);
        }
      }

      .links {
        li {
          background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
          background-size: vw(8) 1px;
        }

        a {
          padding-inline: vw(50);

          .name {
            font-size: vw(26);
            margin-bottom: vw(10);

            &:after {
              width: vw(21);
              height: vw(29);
              margin-top: vw(-15);
            }
          }
        }
      }
    } // facility

    section.access {
      padding-top: vw(125);
      padding-bottom: vw(125);
    } // access

    section.news {
      padding-bottom: vw(200);

      .inner {
        margin-bottom: vw(116);
      }

      .news_lists {
        width: vw(857);
        margin-right: vw(-100);

        .post {
          padding-right: vw(100);
        }
      }

      .button {
        margin-top: vw(30);
      }
    } // news
  }

  // -----------------------------------------------------------------
  // ABOUT layout
  // -----------------------------------------------------------------
  [data-parent='about'] {
    section.mv {
      height: vw(1115);
      border-bottom-width: vw(12);
      margin-bottom: vw(80);

      .txt {
        top: vw(268);
        width: vw(1240);

        h2 {
          font-size: vw(18);
          margin-bottom: vw(68);
        }

        h1 {
          font-size: vw(32);
          margin-bottom: vw(45);
        }
      }
    } // mv

    section.menu {
      margin-bottom: vw(164);

      .contents {
        width: vw(1040);
        row-gap: vw(48);
      }

      a {
        clip-path: polygon(vw(22) 0%, calc(100% - #{vw(22)}) 0%, 100% vw(22), 100% calc(100% - #{vw(22)}), calc(100% - #{vw(22)}) 100%, vw(22) 100%, 0% calc(100% - #{vw(22)}), 0% vw(22));
        padding-right: vw(390);
        min-height: vw(320);

        .dot_bg {
          .dot_line.lt {
            left: vw(11.5);
            top: vw(11.5);
          }
          .dot_line.rt {
            right: vw(11.5);
            top: vw(11.5);
          }
          .dot_line.lb {
            left: vw(11.5);
            bottom: vw(11.5);
          }
          .dot_line.rb {
            right: vw(11.5);
            bottom: vw(11.5);
          }
        }

        figure {
          width: vw(490);
          height: vw(490);
          position: absolute;
          top: 50%;
          right: vw(-164);
          margin-top: vw(-245);
        }

        .txt {
          padding-left: vw(60);

          dt {
            font-size: vw(36);
            margin-bottom: vw(20);

            &:after {
              width: vw(21);
              height: vw(29);
              margin-top: vw(-15);
            }
          }
        }
      }
    } // menu

    section.overview {
      padding-top: vw(77);
      padding-bottom: vw(200);

      .sec_title {
        margin-bottom: vw(84);
      }

      .contents {
        width: vw(670);

        dl {
          background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
          background-size: vw(8) 1px;
          font-size: vw(18);
          padding: vw(30) 0;

          dt {
            width: vw(210);
          }
        }
      }
    } // overview
  }

  // -----------------------------------------------------------------
  // SPORTS layout
  // -----------------------------------------------------------------
  [data-parent='sports'] {
    .page_header {
      margin-bottom: vw(68);
    }

    section.introduction {
      margin-bottom: vw(145);

      .mv {
        width: vw(747);
        height: vw(520);
        top: vw(-158);
        left: vw(606);
      }

      .c1 {
        margin-bottom: vw(140);
        width: vw(540);

        h2 {
          font-size: vw(58);
          margin-bottom: vw(30);
        }
      } // c1

      .c2 {
        margin-bottom: vw(100);

        .unit {
          .txt {
            .num {
              font-size: vw(62);
              margin-bottom: vw(12);
            }

            h3 {
              font-size: vw(32);
            }

            h4 {
              font-size: vw(20);
              margin-bottom: vw(12);
            }
          }
        }

        .step_unit {
          width: calc(100% + #{vw(200)});
          margin-left: vw(-100);
          row-gap: vw(60);

          .main {
            .txt {
              left: vw(-36);
              width: vw(676);
              height: vw(676);
              margin-top: vw(-338);
              padding-left: vw(148);
              padding-right: vw(100);
            }

            .img {
              height: vw(613);
            }
          }

          .step {
            dl {
              column-gap: vw(24);
              margin-bottom: vw(38);

              dt {
                font-size: vw(24);
              }
            }

            ul {
              column-gap: vw(35);

              li {
                padding-right: vw(68);
                column-gap: vw(20);

                &:after {
                  width: vw(21);
                  height: vw(29);
                  margin-top: vw(-15);
                }

                .icon {
                  width: vw(98);
                  height: vw(98);
                }

                .step_txt {
                  row-gap: vw(14);

                  span {
                    font-size: vw(12);
                  }
                }
              }
            }
          }
        }

        .u1 {
          width: vw(1110);
          height: vw(513);
          margin-bottom: vw(100);
          column-gap: vw(84);
          padding: 0 vw(77) 0 vw(124);

          .dot_bg {
            clip-path: polygon(vw(86) 0%, calc(100% - #{vw(86)}) 0%, 100% vw(86), 100% calc(100% - #{vw(86)}), calc(100% - #{vw(86)}) 100%, vw(86) 100%, 0% calc(100% - #{vw(86)}), 0% vw(86));

            .dot_line.lt {
              left: vw(43.5);
              top: vw(43.5);
            }
            .dot_line.rt {
              right: vw(43.5);
              top: vw(43.5);
            }
            .dot_line.lb {
              left: vw(43.5);
              bottom: vw(43.5);
            }
            .dot_line.rb {
              right: vw(43.5);
              bottom: vw(43.5);
            }
          }

          .img {
            width: vw(326);
            margin-top: vw(35);
          }
        } // u1

        .u2 {
          margin-bottom: vw(138);
        }
      } // c2

      .c3 {
        &:before {
          width: vw(211);
          height: vw(130);
          margin-left: vw(-105);
        }

        p {
          font-size: vw(24);
          margin-bottom: vw(72);
        }
      } // c3
    } // introduction

    section.case {
      .contents {
        width: 100vw;
        margin-left: calc(((100vw - #{vw(1240)}) * 0.5) * -1);

        .unit {
          background-image: linear-gradient(to bottom, $gray2 vw(4), transparent vw(4));
          background-size: 1px vw(8);
          padding: vw(38) vw(28);

          &:before,
          &:after {
            background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
            background-size: vw(8) 1px;
          }

          &:nth-child(odd) {
            padding-left: vw(48);
          }

          &:nth-child(even) {
            padding-right: vw(48);
          }

          .head {
            margin-bottom: vw(20);

            h2 {
              font-size: vw(32);
            }

            .label {
              clip-path: polygon(vw(6) 0%, calc(100% - #{vw(6)}) 0%, 100% vw(8), 100% calc(100% - #{vw(8)}), calc(100% - #{vw(6)}) 100%, vw(6) 100%, 0% calc(100% - #{vw(8)}), 0% vw(8));
              height: vw(43);
              padding-inline: vw(18);
            }
          }

          .inner {
            column-gap: vw(30);

            .img {
              width: vw(322);
            }
          }
        }
      }
    } // case

    section.facility {
      padding-top: vw(140);
      margin-bottom: vw(134);

      .sec_title {
        margin-bottom: vw(10);
      }

      .contents {
        .lead {
          width: vw(830);
          margin-bottom: vw(48);
        }

        .map {
          width: vw(980);
          margin: 0 auto vw(56);
        }

        .areas {
          gap: vw(45);
          width: vw(1140);

          li {
            column-gap: vw(16);
            padding: vw(40) vw(50);

            .dot_bg {
              clip-path: polygon(vw(20) 0%, calc(100% - #{vw(20)}) 0%, 100% vw(20), 100% calc(100% - #{vw(20)}), calc(100% - #{vw(20)}) 100%, vw(20) 100%, 0% calc(100% - #{vw(20)}), 0% vw(20));

              .dot_line.lt {
                left: vw(10.5);
                top: vw(10.5);
              }
              .dot_line.rt {
                right: vw(10.5);
                top: vw(10.5);
              }
              .dot_line.lb {
                left: vw(10.5);
                bottom: vw(10.5);
              }
              .dot_line.rb {
                right: vw(10.5);
                bottom: vw(10.5);
              }
            }

            .num {
              font-size: vw(36);
            }

            .txt {
              .name {
                margin-bottom: vw(16);

                .ja {
                  font-size: vw(30);
                }

                .en {
                  font-size: vw(16);
                }
              }

              .detail {
                padding-inline: vw(6);
                margin-bottom: vw(16);
              }
            }
          }
        }
      }
    } // facility

    section.service {
      padding-top: vw(106);
      padding-bottom: vw(146);
      margin-bottom: vw(110);

      .sec_title {
        margin-bottom: vw(20);
      }

      .contents {
        .lead {
          margin-bottom: vw(68);
        }

        .service_lists {
          column-gap: vw(20);
          row-gap: vw(44);

          li {
            column-gap: vw(24);

            .img {
              width: vw(194);
            }

            dl {
              dt {
                margin-bottom: vw(16);
              }
            }
          }
        }
      }
    } // service

    section.price {
      margin-bottom: vw(100);

      .sec_title {
        margin-bottom: vw(20);
      }

      .contents {
        .lead {
          margin-bottom: vw(68);
        }

        .table_area {
          margin-bottom: vw(68);
        }

        .note {
          row-gap: vw(16);
        }
      }
    } // price

    section.precautions {
      padding-top: vw(102);
      padding-bottom: vw(220);

      .contents {
        margin-bottom: vw(132);
      }
    } // precautions
  }

  // -----------------------------------------------------------------
  // CAMP & FOOD layout
  // -----------------------------------------------------------------
  [data-parent='camp-food'] {
    .page_header {
      margin-bottom: vw(60);
    }

    section.head {
      margin-bottom: vw(140);
    } // head

    section.room {
      margin-bottom: vw(140);

      .lead {
        margin-bottom: vw(46);
      }

      .floor {
        padding: vw(135) vw(37) vw(80) vw(200);

        .dot_bg {
          clip-path: polygon(vw(80) 0%, 100% 0, 100% 100%, vw(80) 100%, 0 calc(100% - #{vw(80)}), 0 vw(80));
          width: vw(1400);

          .dot_line.lt {
            top: vw(40.5);
            left: vw(40.5);
          }

          .dot_line.lb {
            bottom: vw(40.5);
            left: vw(40.5);
          }
        }

        figure {
          width: vw(936);
        }

        .txt {
          width: vw(470);
          margin: vw(-420) 0 0 vw(530);

          dl {
            background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
            background-size: vw(8) 1px;
            font-size: vw(18);
            padding: vw(48) 0;

            dt {
              width: vw(125);
            }
          }
        }
      }
    } // room

    section.rule {
      margin-bottom: vw(170);

      .contents {
        dl {
          background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
          background-size: vw(8) 1px;
          font-size: vw(18);
          padding: vw(38) 0;

          dt {
            width: vw(225);
          }
        }
      }
    } // rule

    section.fee {
      margin-bottom: vw(160);

      .lead {
        margin-top: vw(40);
      }
    } // fee

    section.precautions {
      margin-bottom: vw(110);

      .lead {
        margin-bottom: vw(40);
        font-size: vw(20);
      }
    } // precautions

    section.food {
      padding: vw(80) 0 vw(250);

      .sec_title {
        margin-bottom: vw(80);
      }

      .autoscroll {
        width: calc(100% + #{vw(200)});
        margin-left: vw(-100);
        margin-bottom: vw(100);

        .splide {
          margin-bottom: vw(20);
        }

        .splide__slide {
          padding-inline: vw(8);

          img {
            height: vw(690);
          }
        }

        p {
          max-width: vw(1240);
        }
      }

      .contents {
        width: vw(830);
        margin-bottom: vw(220);

        .lead {
          margin-bottom: vw(40);
        }

        .detail {
          width: vw(510);
          margin-bottom: vw(34);

          dl {
            background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
            background-size: vw(8) 1px;
            font-size: vw(18);
            padding: vw(26) 0;

            dt {
              width: vw(145);
            }
          }
        }

        .btn_pdf {
          column-gap: vw(10);
          width: vw(263);
          height: vw(53);

          &:before {
            clip-path: polygon(vw(14) 0%, calc(100% - #{vw(14)}) 0%, 100% vw(14), 100% calc(100% - #{vw(14)}), calc(100% - #{vw(14)}) 100%, vw(14) 100%, 0% calc(100% - #{vw(14)}), 0% vw(14));
          }

          &:after {
            width: vw(20);
            height: vw(20);
          }
        }
      }
    } // food
  }

  // -----------------------------------------------------------------
  // ACCESS layout
  // -----------------------------------------------------------------
  [data-parent='access'] {
    .gmap {
      // max-width: vw(1440);
      height: vw(560);
      margin-bottom: vw(100);
      filter: grayscale(1);
    } // gmap

    .page_container {
      row-gap: vw(160);
    }
  }

  // -----------------------------------------------------------------
  // NEWS layout
  // -----------------------------------------------------------------
  [data-parent='news'] {
    .categories {
      gap: vw(24);

      li {
        width: vw(128);
        height: vw(38);
      }

      a {
        font-size: vw(14);

        &:before {
          clip-path: polygon(vw(9) 0%, calc(100% - #{vw(9)}) 0%, 100% vw(9), 100% calc(100% - #{vw(9)}), calc(100% - #{vw(9)}) 100%, vw(9) 100%, 0% calc(100% - #{vw(9)}), 0% vw(9));
        }
      }
    } // categories

    // 一覧
    &[data-child='index'] {
      .page_header {
        margin-bottom: vw(58);
      }

      .categories {
        margin-bottom: vw(96);
      }

      .pagenate {
        margin-top: vw(85);

        .wp-pagenavi {
          column-gap: vw(50);
          font-size: vw(18);
        }

        .previouspostslink,
        .nextpostslink {
          width: vw(11);
          height: vw(15);
        }
      }
    } // index

    // 詳細
    &[data-child='detail'] {
      .page_header {
        margin-bottom: vw(36);
      }

      .categories {
        margin-bottom: vw(36);
      }

      .post_container {
        padding-top: vw(110);

        &:before {
          background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
          background-size: vw(8) 1px;
        }
      }

      .post_header {
        column-gap: vw(28);
        margin-bottom: vw(68);

        .date {
          font-size: vw(16);
        }

        .tags {
          column-gap: vw(24);

          span {
            width: vw(112);
            height: vw(33);
            font-size: vw(14);

            &:before {
              clip-path: polygon(vw(10) 0%, calc(100% - #{vw(10)}) 0%, 100% vw(10), 100% calc(100% - #{vw(10)}), calc(100% - #{vw(10)}) 100%, vw(10) 100%, 0% calc(100% - #{vw(10)}), 0% vw(10));
            }
          }
        }

        .title {
          font-size: vw(32);
        }
      }

      .post_contents {
        width: vw(790);
        margin-left: vw(258);
        margin-bottom: vw(70);
        row-gap: vw(50);

        h2 {
          font-size: vw(32);
        }

        h3 {
          font-size: vw(28);
        }

        h4 {
          font-size: vw(24);
        }

        figcaption {
          font-size: vw(12);
        }

        blockquote {
          padding: vw(12) vw(19);
        }
      }

      .share {
        width: vw(790);
        margin-left: vw(258);

        dl {
          column-gap: vw(35);

          dt {
            font-size: vw(14);
          }

          dd {
            column-gap: vw(30);
          }
        }

        a {
          width: vw(32);
          height: vw(32);
        }
      }
    } // detail
  }

  // -----------------------------------------------------------------
  // FAQ layout
  // -----------------------------------------------------------------
  [data-parent='faq'] {
    .page_header {
      margin-bottom: vw(100);
    }

    .faq_container {
      max-width: vw(1008);
      row-gap: vw(80);
    }

    .faq_section {
      column-gap: vw(85);

      .faq_title {
        width: vw(150);
        font-size: vw(18);
      }

      .faq_lists {
        row-gap: vw(24);
      }

      .faq_unit {
        background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
        background-size: vw(8) 1px;

        dt,
        dd {
          padding-left: vw(40);

          &:before {
            font-size: vw(22);
          }
        }

        dt {
          font-size: vw(18);

          button {
            padding-bottom: vw(24);

            &:after {
              width: vw(15);
              height: vw(20);
            }
          }
        }

        dd {
          padding-bottom: vw(24);
          padding-right: vw(160);

          > * {
            font-size: vw(16);
          }
        }
      }
    }
  }

  // -----------------------------------------------------------------
  // CONTACT layout
  // -----------------------------------------------------------------
  [data-parent='contact'] {
    .page_header {
      margin-bottom: vw(110);
    }

    .page_container {
      padding-left: vw(88);
    }

    .form-buttons {
      .btn {
        width: vw(210);
        height: vw(61);

        &:after {
          width: vw(9);
          height: vw(13);
          right: vw(20);
          margin-top: vw(-6.5);
        }

        &.back {
          &:after {
            left: vw(20);
          }
        }
      }
    }

    // 共通設定
    #formLoading {
      margin-top: vw(30);
      font-size: vw(12);
    }

    .form-unit {
      dt {
        margin-bottom: vw(15);

        label {
          column-gap: vw(24);
        }

        .required {
          font-size: vw(14);
        }
      }

      input[type='text'],
      input[type='email'],
      input[type='password'],
      input[type='tel'] {
        padding: vw(10) 0 vw(20);
      }

      textarea {
        padding: vw(30);
        height: vw(430);
      }
    }

    // 入力画面
    #form-area {
      .error-message {
        font-size: vw(14);
        margin-top: vw(10);
      }

      .form-container {
        row-gap: vw(62);
        margin-bottom: vw(30);
        width: vw(814);
      }

      .form-column {
        column-gap: vw(68);
      }

      .form-footer {
        width: vw(814);
        column-gap: vw(132);

        p {
          font-size: vw(14);
        }
      }
    } // form-area

    // 確認画面
    #confirm-area {
      width: vw(670);

      .confirm-table {
        row-gap: vw(52);
        margin-bottom: vw(74);
      }

      .form-unit.confirm {
        dt {
          margin-bottom: vw(20);
        }
      }
    } // confirm-area

    // 完了画面
    #complete-area {
      width: vw(790);

      p {
        font-size: vw(18);
        margin-bottom: vw(77);
      }
    } // complete-area
  }
} // max
