@use 'sass:math';

// -----------------------------------------------------------------
// setting import
// -----------------------------------------------------------------
@use '../../../core/' as *;
@use '../../../core/config_pc' as *;

// -----------------------------------------------------------------
// TOP layout
// -----------------------------------------------------------------

// -----------------------------------------------------------------
// ACCESS layout
// -----------------------------------------------------------------
[data-parent='access'] {
  background-color: $white;

  .gmap {
    max-width: vw(1440);
    height: vw(560);
    margin-inline: auto;
    margin-bottom: vw(100);
    position: relative;
    z-index: 5;
    filter: grayscale(1);

    iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  } // gmap

  .page_container {
    display: flex;
    flex-direction: column;
    row-gap: vw(160);
  }

  section.access {
    .contents {
      padding-left: vw(100);
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      column-gap: vw(70);
    }

    .map {
      width: vw(420);
      flex-shrink: 0;
    }

    .txt {
      display: flex;
      flex-direction: column;
      row-gap: vw(62);
      width: 100%;

      dl {
        background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
        background-size: vw(8) 1px;
        background-repeat: repeat-x;
        background-position: 0 100%;
        padding-bottom: vw(62);
        display: flex;
        justify-content: space-between;
        line-height: 1.8;

        &:last-of-type {
          background: none;
          padding-bottom: 0;
        }

        dt {
          @include inter;
          font-size: vw(24);
          font-weight: 400;
          width: vw(150);
          color: $green;
          flex-shrink: 0;
        }

        dd {
          width: 100%;
          font-size: vw(18);
          display: flex;
          flex-direction: column;
          row-gap: vw(20);
        }
      }

      .pin {
        display: flex;
        align-items: center;
        column-gap: vw(5);
        text-decoration: underline;

        &:after {
          background: url(../img/common/ic_pin.webp) no-repeat 0 0;
          background-size: 100% 100%;
          content: '';
          display: block;
          width: vw(15);
          height: vw(18);
        }

        @include hover {
          text-decoration: none;
        }
      }
    }
  } // access

  section.precautions {
    ol {
      margin-left: 1em;
      line-height: 1.8;
      padding-left: vw(10);
      display: flex;
      flex-direction: column;
      row-gap: vw(30);

      > li {
        list-style: decimal;
        font-size: vw(20);
      }
    }

    ul {
      font-size: vw(16);

      li {
        display: flex;
        column-gap: vw(5);

        &:before {
          content: '-';
        }
      }
    }
  } // precautions
}

// -----------------------------------------------------------------
// NEWS layout
// -----------------------------------------------------------------
[data-parent='news'] {
  background-color: $white;

  .categories {
    display: flex;
    flex-wrap: wrap;
    gap: vw(24);

    li {
      width: vw(128);
      height: vw(38);
    }

    a {
      @include easing($property: color);
      @include inter;
      filter: $outline;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 100%;
      font-size: vw(14);

      &:before {
        @include easing($property: background);
        clip-path: polygon(vw(10) 0%, calc(100% - #{vw(10)}) 0%, 100% vw(10), 100% calc(100% - #{vw(10)}), calc(100% - #{vw(10)}) 100%, vw(10) 100%, 0% calc(100% - #{vw(10)}), 0% vw(10));
        background-color: $white;
        content: '';
        display: block;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        position: absolute;
        top: 1px;
        left: 1px;
        z-index: -1;
      }

      &.active {
        pointer-events: none;

        &:before {
          background-color: $yellow;
        }
      }

      @include hover {
        &:before {
          background-color: $yellow;
        }
      }
    }
  } // categories

  // 一覧
  &[data-child='index'] {
    .page_header {
      margin-bottom: vw(58);
    }

    .categories {
      margin-bottom: vw(96);
    }

    .news_lists {
      background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
      background-size: vw(8) 1px;
      background-repeat: repeat-x;
      background-position: 0 0;

      .post {
        background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
        background-size: vw(8) 1px;
        background-repeat: repeat-x;
        background-position: 0 100%;

        a {
          display: flex;
          align-items: center;
          padding: vw(24) vw(60) vw(24) 0;
          position: relative;

          &:after {
            @include easing($property: background);
            mask: url(../img/common/ic_arrow_link.webp) no-repeat 0 0;
            mask-size: 100% 100%;
            background-color: $black;
            content: '';
            display: block;
            width: vw(17);
            height: vw(23);
            position: absolute;
            top: 50%;
            right: vw(40);
            margin-top: vw(-12);
          }

          @include hover {
            &:after {
              background-color: $yellow;
            }
          }
        }

        .date {
          @include inter;
          font-size: vw(14);
          font-weight: bold;
          margin-right: vw(22);
          flex-shrink: 0;
        }

        .tags {
          display: flex;
          align-items: center;
          column-gap: vw(24);
          margin-right: vw(98);

          span {
            @include inter;
            filter: $outline;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: vw(112);
            height: vw(33);
            font-size: vw(14);

            &:before {
              @include easing($property: background);
              clip-path: polygon(vw(10) 0%, calc(100% - #{vw(10)}) 0%, 100% vw(10), 100% calc(100% - #{vw(10)}), calc(100% - #{vw(10)}) 100%, vw(10) 100%, 0% calc(100% - #{vw(10)}), 0% vw(10));
              background-color: $white;
              content: '';
              display: block;
              width: calc(100% - 2px);
              height: calc(100% - 2px);
              position: absolute;
              top: 1px;
              left: 1px;
              z-index: -1;
            }
          }
        }

        .title {
          font-size: vw(18);
          line-height: 1.5;
        }
      }
    }

    .pagenate {
      margin-top: vw(85);

      .wp-pagenavi {
        @include inter;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        column-gap: vw(50);
        position: relative;
        font-size: vw(18);
        font-weight: 500;
      }

      .previouspostslink,
      .nextpostslink {
        @include easing($property: background);
        mask: url(../img/common/ic_arrow_link.webp) no-repeat 0 0;
        mask-size: 100% 100%;
        background-color: $black;
        text-indent: -9999px;
        width: vw(11);
        height: vw(15);

        @include hover {
          background-color: $yellow;
        }
      }

      .previouspostslink {
        transform: scaleX(-1);
      }

      .page {
        @include easing($property: color);
        color: #b2b2b2;

        @include hover {
          color: $black;
        }
      }

      .curent {
      }
    }
  } // index

  // 詳細
  &[data-child='detail'] {
    .page_header {
      margin-bottom: vw(36);
    }

    .categories {
      margin-bottom: vw(36);
    }

    .post_container {
      position: relative;
      padding-top: vw(110);

      &:before {
        transform: translateX(-50%);
        background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
        background-size: vw(8) 1px;
        background-repeat: repeat-x;
        background-position: 0 0;
        content: '';
        display: block;
        width: 100vw;
        height: 1px;
        position: absolute;
        top: 0;
        left: 50%;
      }
    }

    .post_header {
      display: flex;
      align-items: center;
      column-gap: vw(28);
      margin-bottom: vw(68);

      .date {
        @include inter;
        font-size: vw(16);
        font-weight: 500;
        flex-shrink: 0;
      }

      .tags {
        display: flex;
        align-items: center;
        column-gap: vw(24);
        flex-shrink: 0;

        span {
          @include inter;
          filter: $outline;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          width: vw(112);
          height: vw(33);
          font-size: vw(14);

          &:before {
            @include easing($property: background);
            clip-path: polygon(vw(10) 0%, calc(100% - #{vw(10)}) 0%, 100% vw(10), 100% calc(100% - #{vw(10)}), calc(100% - #{vw(10)}) 100%, vw(10) 100%, 0% calc(100% - #{vw(10)}), 0% vw(10));
            background-color: $white;
            content: '';
            display: block;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            position: absolute;
            top: 1px;
            left: 1px;
            z-index: -1;
          }
        }
      }

      .title {
        font-size: vw(32);
        line-height: 1.5;
        margin-top: -0.1em;
      }
    }

    .post_contents {
      width: vw(790);
      margin-left: vw(258);
      margin-bottom: vw(70);
      display: flex;
      flex-direction: column;
      row-gap: vw(50);
      line-height: 2;

      h2 {
        font-size: vw(32);
        line-height: 1.5;
        letter-spacing: 0.03em;
      }

      h3 {
        font-size: vw(28);
        line-height: 1.5;
        letter-spacing: 0.03em;
      }

      h4 {
        font-size: vw(24);
        line-height: 1.5;
        letter-spacing: 0.03em;
      }

      figcaption {
        font-size: vw(12);
      }

      hr {
        border-width: 1px;
        color: $black;
      }

      .wp-block-embed__wrapper {
        width: 100%;
        aspect-ratio: 16 / 9;

        iframe {
          width: 100%;
          height: 100%;
        }
      }

      blockquote {
        border: 1px solid $black;
        padding: vw(12) vw(19);
      }

      ul {
        margin-left: 1em;

        li {
          list-style: disc;
        }
      }

      ol {
        margin-left: 1em;

        li {
          list-style: decimal;
        }
      }

      a {
        text-decoration: underline;

        @include hover {
          text-decoration: none;
        }
      }
    }

    .share {
      width: vw(790);
      margin-left: vw(258);
      display: flex;
      align-items: center;
      justify-content: center;

      dl {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: vw(35);

        dt {
          font-size: vw(14);
        }

        dd {
          display: flex;
          align-items: center;
          column-gap: vw(30);
        }
      }

      a {
        @include easing($property: transform);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: block;
        width: vw(32);
        height: vw(32);

        @include hover {
          transform: scale(1.1);
        }

        &.x {
          background-image: url(../img/common/ic_x.webp);
        }

        &.fb {
          background-image: url(../img/common/ic_fb.webp);
        }
      }
    }
  } // detail
}

// -----------------------------------------------------------------
// FAQ layout
// -----------------------------------------------------------------
[data-parent='faq'] {
  .page_header {
    margin-bottom: vw(100);
  }

  .faq_container {
    max-width: vw(1008);
    display: flex;
    flex-direction: column;
    row-gap: vw(80);
  }

  .faq_section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: vw(85);

    .faq_title {
      text-align: right;
      width: vw(150);
      flex-shrink: 0;
      font-size: vw(18);
      font-weight: bold;
    }

    .faq_lists {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: vw(24);
    }

    .faq_unit {
      background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
      background-size: vw(8) 1px;
      background-repeat: repeat-x;
      background-position: 0 100%;

      dt,
      dd {
        position: relative;
        padding-left: vw(40);

        &:before {
          @include inter;
          font-size: vw(22);
          font-weight: 500;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      dt {
        font-size: vw(18);

        &:before {
          content: 'Q';
        }

        button {
          @include easing($property: #{'color'});
          width: 100%;
          position: relative;
          text-align: left;
          padding-bottom: vw(24);

          &:after {
            @include easing($property: #{'transform,background'});
            mask: url(../img/common/ic_arrow_link.webp) no-repeat 0 0;
            mask-size: 100% 100%;
            background-color: $black;
            content: '';
            display: block;
            width: vw(15);
            height: vw(20);
            position: absolute;
            top: 0;
            right: 0;
          }

          @include hover {
            &:after {
              background-color: $yellow;
            }
          }
        }
      }

      dd {
        padding-bottom: vw(24);
        padding-right: vw(160);

        &:before {
          content: 'A';
          top: 0.2em;
        }

        > * {
          font-size: vw(16);
          line-height: 1.8;
        }
      }

      &.active {
        dt {
          button {
            &:after {
              transform: rotate(-90deg);
            }
          }
        }
      }
    }
  }
}

// -----------------------------------------------------------------
// CONTACT layout
// -----------------------------------------------------------------
[data-parent='contact'] {
  background-color: $white;

  .page_header {
    margin-bottom: vw(110);
  }

  .page_container {
    padding-left: vw(88);
  }

  .form-buttons {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;

    .btn {
      @include easing($property: #{'background,color'});
      mask: url(../img/common/logo_icon.webp) no-repeat 0 0;
      mask-size: 100% 100%;
      background-color: $black;
      width: vw(210);
      height: vw(61);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      font-weight: bold;
      color: $white;

      &:after {
        @include easing($property: background);
        mask: url(../img/common/ic_arrow_link.webp) no-repeat 0 0;
        mask-size: 100% 100%;
        background-color: $white;
        content: '';
        display: block;
        width: vw(9);
        height: vw(13);
        position: absolute;
        top: 50%;
        right: vw(20);
        margin-top: vw(-6.5);
      }

      @include hover {
        background-color: $yellow;
      }

      &.back {
        background-color: $lightgray;
        color: $black;

        &:after {
          transform: scaleX(-1);
          background-color: $black;
          left: vw(20);
          right: auto;
        }

        @include hover {
          background-color: $black;
          color: $white;

          &:after {
            background-color: $white;
          }
        }
      }
    }
  }

  // 共通設定
  .form-group {
    width: 100%;
  }

  #formLoading {
    margin-top: vw(30);
    font-size: vw(12);
  }

  .form-unit {
    width: 100%;

    dt {
      margin-bottom: vw(15);

      label {
        display: flex;
        align-items: center;
        column-gap: vw(24);
      }

      .required {
        font-size: vw(14);
        color: #ff5800;
      }
    }

    input[type='text'],
    input[type='email'],
    input[type='password'],
    input[type='tel'] {
      border-bottom: 1px solid $black;
      display: block;
      width: 100%;
      padding: vw(10) 0 vw(20);
    }

    textarea {
      padding: vw(30);
      border: 1px solid $black;
      width: 100%;
      height: vw(430);
      line-height: 2;
    }
  }

  // 入力画面
  #form-area {
    .error-message {
      font-size: vw(14);
      color: #ff5800;
      margin-top: vw(10);
    }

    .form-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: vw(62);
      margin-bottom: vw(30);
      width: vw(814);
    }

    .form-column {
      width: 100%;
      display: flex;
      justify-content: space-between;
      column-gap: vw(68);
    }

    .form-footer {
      width: vw(814);
      display: flex;
      justify-content: space-between;
      column-gap: vw(132);

      p {
        line-height: 2;
        font-size: vw(14);
      }
    }
  } // form-area

  // 確認画面
  #confirm-area {
    width: vw(670);

    .confirm-table {
      display: flex;
      flex-direction: column;
      row-gap: vw(52);
      margin-bottom: vw(74);
    }

    .form-unit.confirm {
      dt {
        margin-bottom: vw(20);
      }

      dd {
        line-height: 1.8;
      }
    }
  } // confirm-area

  // 完了画面
  #complete-area {
    width: vw(790);

    p {
      font-size: vw(18);
      line-height: 1.8;
      margin-bottom: vw(77);
    }
  } // complete-area
}
