@use 'sass:math';

// -----------------------------------------------------------------
// setting import
// -----------------------------------------------------------------
@use '../../../core/' as *;
@use '../../../core/config_pc' as *;

// -----------------------------------------------------------------
// TOP layout
// -----------------------------------------------------------------
