@use 'sass:math';

// -----------------------------------------------------------------
// setting import
// -----------------------------------------------------------------
@use '../../../core/' as *;
@use '../../../core/config_pc' as *;

// -----------------------------------------------------------------
// TOP layout
// -----------------------------------------------------------------
[data-parent='top'] {
  #container {
    padding-top: 0;
    padding-bottom: 0;
  }

  #globalHeader,
  #globalHeader:before {
    background-color: transparent;
  }

  section {
    position: relative;
  }

  section.mv {
    background-color: $yellow;
    margin-bottom: vw(48);
    width: vw(1440);
    height: vw(764);

    #lottie {
      transform: translate3d(-50%, 0, 0);
      overflow: hidden;
      position: absolute;
      bottom: vw(40);
      left: 50%;
      width: vw(1280);
      height: vw(580);
    }
  } // mv

  section.statement {
    height: vw(905);
    margin-bottom: vw(170);
    display: flex;
    align-items: center;

    .bg {
      width: vw(1308);
      height: vw(905);
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: vw(-630);
      z-index: -1;

      &:before {
        mask: url(../img/top/img_statement.webp) no-repeat 0 0;
        mask-size: 100% 100%;
        background-color: $yellow;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: vw(30);
        left: vw(-50);
        z-index: 0;
      }

      img {
        position: relative;
        width: 100%;
        height: 100%;
        max-width: initial;
        z-index: 2;
      }
    }

    .catchcopy {
      @include inter;
      font-size: vw(57);
      font-weight: bold;
      letter-spacing: 0.09em;
      writing-mode: vertical-lr;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: vw(-637);
    }

    .subcopy {
      writing-mode: vertical-lr;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: vw(664);
    }

    .inner {
      width: vw(1240);
      margin-inline: auto;
      padding-left: vw(123);
      padding-right: vw(26);
    }

    .txt {
      line-height: 1.8;

      h2 {
        font-size: vw(32);
        font-weight: bold;
        letter-spacing: 0.06em;
        margin-bottom: vw(26);
      }
    }

    .button {
      display: flex;
      justify-content: flex-end;
    }
  } // statement

  section.ai_sports {
    margin-bottom: vw(180);

    .sec_title {
      margin-bottom: vw(34);
    }

    .c1 {
      margin-bottom: vw(80);

      .lead {
        line-height: 1.8;
        width: vw(840);
      }
    } // c1

    .c2 {
      display: flex;
      justify-content: center;
      position: relative;
      margin-bottom: vw(44);

      &:before,
      &:after {
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        content: '';
        display: block;
        width: vw(574);
        height: vw(574);
        position: absolute;
        top: 0;
        left: 50%;
        pointer-events: none;
      }

      &:before {
        background-image: url(../img/top/bg_circle_left.webp);
        margin-left: vw(-550);
      }

      &:after {
        background-image: url(../img/top/bg_circle_right.webp);
        margin-left: vw(-23);
      }

      .unit {
        background-color: $white;
        border-radius: 100%;
        width: vw(574);
        height: vw(574);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-inline: vw(90);

        h3 {
          font-size: vw(32);
          font-weight: bold;
          margin-bottom: vw(20);
        }

        p {
          width: 100%;
          line-height: 1.8;
          margin-bottom: vw(32);
        }
      }

      .u1 {
        margin-right: vw(-24);

        figure {
          width: vw(216);
        }
      }

      .u2 {
        margin-left: vw(-24);

        figure {
          width: vw(123);
        }
      }
    } // c2

    .c3 {
      position: relative;

      &:before {
        background: url(../img/common/ic_arrow_step.webp) no-repeat 0 0;
        background-size: 100% 100%;
        content: '';
        display: block;
        width: vw(211);
        height: vw(130);
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: vw(-105);
        pointer-events: none;
        z-index: -1;
      }

      p {
        text-align: center;
        font-size: vw(24);
        font-weight: bold;
        line-height: 1.8;
        margin-bottom: vw(72);
      }

      ul {
        display: flex;
        column-gap: vw(40);
        margin-bottom: vw(44);

        li {
          filter: $outlineGray;
          width: vw(280);
          height: vw(155);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: relative;
          line-height: 1.8;

          &:before {
            @include easing($property: background);
            clip-path: polygon(vw(20) 0%, calc(100% - #{vw(20)}) 0%, 100% vw(17), 100% calc(100% - #{vw(17)}), calc(100% - #{vw(20)}) 100%, vw(20) 100%, 0% calc(100% - #{vw(17)}), 0% vw(17));
            background-color: $white;
            content: '';
            display: block;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            position: absolute;
            top: 1px;
            left: 1px;
            z-index: -1;
          }

          strong {
            @include inter;
            font-size: vw(26);
            font-weight: 600;
          }

          span {
            font-size: vw(18);
          }
        }
      }

      .button {
        display: flex;
        justify-content: center;
      }
    } // c3
  } // ai_sports

  section.facility {
    .sec_title {
      margin-bottom: 0;
    }

    .contents {
      width: calc(100% + #{vw(100)});
      display: flex;
      justify-content: space-between;
    }

    .main {
      background-image: linear-gradient(to bottom, $gray2 vw(4), transparent vw(4));
      background-size: 1px vw(8);
      background-repeat: repeat-y;
      background-position: 100% 100%;
      width: vw(878);
      padding-top: vw(34);
      padding-bottom: vw(118);
      flex-shrink: 0;

      .lead {
        line-height: 1.8;
        margin-bottom: vw(80);
        padding-right: vw(50);
      }

      .map {
        margin-left: vw(-36);
        width: vw(893);
        height: vw(727);

        img {
          max-width: initial;
          width: 100%;
        }
      }
    }

    .links {
      display: flex;
      flex-direction: column;

      li {
        height: 33.3%;
        background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
        background-size: vw(8) 1px;
        background-repeat: repeat-x;
        background-position: 0 100%;

        &:last-of-type {
          background: none;
        }
      }

      a {
        @include easing($property: background);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-inline: vw(50);
        line-height: 1.8;

        .name {
          @include inter;
          font-size: vw(26);
          font-weight: 600;
          width: 100%;
          position: relative;
          margin-bottom: vw(10);

          &:after {
            mask: url(../img/common/ic_arrow_link.webp) no-repeat 0 0;
            mask-size: 100% 100%;
            background-color: $black;
            content: '';
            display: block;
            width: vw(21);
            height: vw(29);
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: vw(-15);
          }
        }

        @include hover {
          background-color: $yellow;
        }
      }
    }
  } // facility

  section.access {
    padding-top: vw(125);
    padding-bottom: vw(125);
  } // access

  section.news {
    padding-bottom: vw(200);

    .sec_title {
      margin-bottom: 0;

      &:after {
        display: none;
      }
    }

    .inner {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: vw(116);
    }

    .news_lists {
      width: vw(857);
      margin-right: vw(-100);

      .post {
        padding-right: vw(100);

        a {
          &:after {
            right: 0;
          }
        }
      }
    }

    .button {
      margin-top: vw(30);
      display: flex;
      justify-content: flex-end;
    }
  } // news
}

// -----------------------------------------------------------------
// ABOUT layout
// -----------------------------------------------------------------
[data-parent='about'] {
  #container {
    padding-top: 0;
    padding-bottom: 0;
  }

  #globalHeader,
  #globalHeader:before {
    background-color: #{$lightgray}80;
  }

  section.mv {
    position: relative;
    width: 100%;
    height: vw(1115);
    border-bottom: vw(12) solid $yellow;
    margin-bottom: vw(80);
    z-index: -2;

    .bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      pointer-events: none;

      img {
        max-width: initial;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .txt {
      transform: translateX(-50%);
      position: absolute;
      top: vw(268);
      left: 50%;
      width: vw(1240);
      z-index: 5;

      h2 {
        font-size: vw(18);
        margin-bottom: vw(68);
      }

      h1 {
        font-size: vw(32);
        font-weight: bold;
        letter-spacing: 0.06em;
        margin-bottom: vw(45);
      }

      p {
        line-height: 1.8;
        letter-spacing: 0.09em;
      }
    }
  } // mv

  section.menu {
    margin-bottom: vw(164);

    .contents {
      width: vw(1040);
      margin-inline: auto;
      display: flex;
      flex-direction: column;
      row-gap: vw(48);
    }

    a {
      clip-path: polygon(vw(22) 0%, calc(100% - #{vw(22)}) 0%, 100% vw(22), 100% calc(100% - #{vw(22)}), calc(100% - #{vw(22)}) 100%, vw(22) 100%, 0% calc(100% - #{vw(22)}), 0% vw(22));
      background-color: $white;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: vw(68);

      .dot_bg {
        .dot_line.lt {
          left: vw(11.5);
          top: vw(11.5);
        }
        .dot_line.rt {
          right: vw(11.5);
          top: vw(11.5);
        }
        .dot_line.lb {
          left: vw(11.5);
          bottom: vw(11.5);
        }
        .dot_line.rb {
          right: vw(11.5);
          bottom: vw(11.5);
        }
      }

      figure {
        width: vw(324);
        flex-shrink: 0;
      }

      .txt {
        width: 100%;
        padding-left: vw(60);

        dt {
          @include inter;
          font-size: vw(36);
          font-weight: bold;
          margin-bottom: vw(20);
          position: relative;

          &:after {
            @include easing($property: background);
            mask: url(../img/common/ic_arrow_link.webp) no-repeat 0 0;
            mask-size: 100% 100%;
            background-color: $black;
            content: '';
            display: block;
            width: vw(21);
            height: vw(29);
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: vw(-15);
          }
        }

        dd {
          line-height: 1.8;
        }
      }

      @include hover {
        .txt {
          dt:after {
            background-color: $yellow;
          }
        }
      }
    }
  } // menu

  section.overview {
    position: relative;
    padding-top: vw(77);
    padding-bottom: vw(200);

    .sec_title {
      margin-bottom: vw(84);
    }

    .contents {
      width: vw(670);

      dl {
        background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
        background-size: vw(8) 1px;
        background-repeat: repeat-x;
        background-position: 0 100%;
        display: flex;
        justify-content: space-between;
        font-size: vw(18);
        padding: vw(30) 0;
        line-height: 1.8;

        dt {
          color: $green;
          width: vw(210);
          flex-shrink: 0;
        }

        dd {
          width: 100%;
        }
      }
    }
  } // overview
}

// -----------------------------------------------------------------
// SPORTS layout
// -----------------------------------------------------------------
[data-parent='sports'] {
  #container {
    padding-bottom: 0;
  }

  section {
    position: relative;
  }

  .page_header {
    margin-bottom: vw(68);
  }

  section.introduction {
    margin-bottom: vw(145);

    .mv {
      width: vw(747);
      height: vw(520);
      position: absolute;
      top: vw(-158);
      left: vw(606);
    }

    .c1 {
      margin-bottom: vw(140);
      width: vw(540);

      h2 {
        @include inter;
        font-size: vw(58);
        font-weight: 500;
        margin-bottom: vw(30);
      }

      p {
        line-height: 1.8;
      }
    } // c1

    .c2 {
      margin-bottom: vw(100);

      .unit {
        position: relative;

        .img {
          position: relative;
          z-index: 5;
        }

        .txt {
          position: relative;
          z-index: 5;

          .num {
            @include inter;
            font-size: vw(62);
            font-weight: 500;
            -webkit-text-stroke: 2px $black;
            text-stroke: 2px $black;
            paint-order: stroke;
            color: $white;
            margin-bottom: vw(12);
          }

          h3 {
            font-size: vw(32);
            line-height: 1.8;
            font-weight: bold;
          }

          h4 {
            font-size: vw(20);
            line-height: 1.8;
            font-weight: bold;
            margin-bottom: vw(12);
          }

          p {
            line-height: 1.8;
          }
        }
      }

      .step_unit {
        width: calc(100% + #{vw(200)});
        margin-left: vw(-100);
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: vw(60);

        .main {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          position: relative;

          .txt {
            background-image: radial-gradient(closest-side, $white calc(100% - 1px), transparent 100%), repeating-conic-gradient($black 0deg 0.5deg, transparent 0.5deg 1deg);
            position: absolute;
            top: 50%;
            left: vw(-36);
            width: vw(676);
            height: vw(676);
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 5;
            border-radius: 100%;
            margin-top: vw(-338);
            padding-left: vw(148);
            padding-right: vw(100);
          }

          .img {
            text-align: right;
            width: 100%;
            height: vw(613);
            z-index: 1;

            img {
              height: 100%;
              width: auto;
            }
          }
        }

        .step {
          dl {
            display: flex;
            align-items: center;
            column-gap: vw(24);
            margin-bottom: vw(38);

            dt {
              font-size: vw(24);
              font-weight: bold;
            }
          }

          ul {
            display: flex;
            justify-content: center;
            column-gap: vw(35);

            li {
              position: relative;
              padding-right: vw(68);
              display: flex;
              column-gap: vw(20);

              &:after {
                mask: url(../img/common/ic_arrow_link.webp) no-repeat 0 0;
                mask-size: 100% 100%;
                background-color: $black;
                content: '';
                display: block;
                width: vw(21);
                height: vw(29);
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: vw(-15);
              }

              &:last-of-type {
                padding-right: 0;

                &:after {
                  display: none;
                }
              }

              .icon {
                width: vw(98);
                height: vw(98);
              }

              .step_txt {
                display: flex;
                flex-direction: column;
                row-gap: vw(14);

                span {
                  font-size: vw(12);
                }
              }
            }
          }
        }
      }

      .u1 {
        width: vw(1110);
        height: vw(513);
        margin-inline: auto;
        margin-bottom: vw(100);
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: vw(84);
        padding: 0 vw(77) 0 vw(124);

        .dot_bg {
          clip-path: polygon(vw(86) 0%, calc(100% - #{vw(86)}) 0%, 100% vw(86), 100% calc(100% - #{vw(86)}), calc(100% - #{vw(86)}) 100%, vw(86) 100%, 0% calc(100% - #{vw(86)}), 0% vw(86));
          background-color: $white;

          .dot_line.lt {
            left: vw(43.5);
            top: vw(43.5);
          }
          .dot_line.rt {
            right: vw(43.5);
            top: vw(43.5);
          }
          .dot_line.lb {
            left: vw(43.5);
            bottom: vw(43.5);
          }
          .dot_line.rb {
            right: vw(43.5);
            bottom: vw(43.5);
          }
        }

        .txt {
          width: 100%;
        }

        .img {
          width: vw(326);
          margin-top: vw(35);
          flex-shrink: 0;
        }
      } // u1

      .u2 {
        margin-bottom: vw(138);
      }
    } // c2

    .c3 {
      position: relative;

      &:before {
        background: url(../img/common/ic_arrow_step.webp) no-repeat 0 0;
        background-size: 100% 100%;
        content: '';
        display: block;
        width: vw(211);
        height: vw(130);
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: vw(-105);
        pointer-events: none;
        z-index: -1;
      }

      p {
        text-align: center;
        font-size: vw(24);
        font-weight: bold;
        line-height: 1.8;
        margin-bottom: vw(72);
      }

      ul {
        display: flex;
        column-gap: vw(40);

        li {
          filter: $outlineGray;
          width: vw(280);
          height: vw(155);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: relative;
          line-height: 1.8;

          &:before {
            @include easing($property: background);
            clip-path: polygon(vw(20) 0%, calc(100% - #{vw(20)}) 0%, 100% vw(17), 100% calc(100% - #{vw(17)}), calc(100% - #{vw(20)}) 100%, vw(20) 100%, 0% calc(100% - #{vw(17)}), 0% vw(17));
            background-color: $white;
            content: '';
            display: block;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            position: absolute;
            top: 1px;
            left: 1px;
            z-index: -1;
          }

          strong {
            @include inter;
            font-size: vw(26);
            font-weight: 600;
          }

          span {
            font-size: vw(18);
          }
        }
      }
    } // c3
  } // introduction

  section.case {
    .contents {
      background-color: $lightgray;
      width: calc(100% + #{vw(200)});
      margin-left: vw(-100);
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .unit {
        position: relative;
        background-image: linear-gradient(to bottom, $gray2 vw(4), transparent vw(4));
        background-size: 1px vw(8);
        background-repeat: repeat-y;
        background-position: 0 100%;
        padding: vw(38) vw(28);

        &:before,
        &:after {
          background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
          background-size: vw(8) 1px;
          background-repeat: repeat-x;
          background-position: 0 100%;
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          position: absolute;
          left: 0;
        }

        &:before {
          top: 0;
        }

        &:after {
          bottom: 0;
        }

        &:nth-child(odd) {
          background: none;
          padding-left: vw(48);
        }

        &:nth-child(even) {
          padding-right: vw(48);
        }

        &:last-of-type,
        &:nth-last-of-type(-n + 2) {
          &:before {
            display: none;
          }
        }

        .head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: vw(20);

          h2 {
            @include inter;
            font-size: vw(32);
            font-weight: bold;
          }

          .label {
            clip-path: polygon(vw(6) 0%, calc(100% - #{vw(6)}) 0%, 100% vw(8), 100% calc(100% - #{vw(8)}), calc(100% - #{vw(6)}) 100%, vw(6) 100%, 0% calc(100% - #{vw(8)}), 0% vw(8));
            background-color: $yellow;
            display: flex;
            align-items: center;
            justify-content: center;
            height: vw(43);
            padding-inline: vw(18);
            font-weight: bold;
          }
        }

        .inner {
          display: flex;
          justify-content: space-between;
          column-gap: vw(30);
          line-height: 1.8;

          .img {
            width: vw(322);
            flex-shrink: 0;
          }
        }
      }
    }
  } // case

  section.facility {
    padding-top: vw(140);
    margin-bottom: vw(134);

    .sec_title {
      margin-bottom: vw(10);
    }

    .contents {
      .lead {
        line-height: 1.8;
        width: vw(830);
        margin-bottom: vw(48);
      }

      .map {
        width: vw(980);
        margin: 0 auto vw(56);
      }

      .areas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: vw(45);
        width: vw(1140);
        margin-inline: auto;

        li {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          column-gap: vw(16);
          padding: vw(40) vw(50);
          line-height: 1.8;

          .dot_bg {
            clip-path: polygon(vw(20) 0%, calc(100% - #{vw(20)}) 0%, 100% vw(20), 100% calc(100% - #{vw(20)}), calc(100% - #{vw(20)}) 100%, vw(20) 100%, 0% calc(100% - #{vw(20)}), 0% vw(20));
            background-color: $white;
            z-index: -1;

            .dot_line.lt {
              left: vw(10.5);
              top: vw(10.5);
            }
            .dot_line.rt {
              right: vw(10.5);
              top: vw(10.5);
            }
            .dot_line.lb {
              left: vw(10.5);
              bottom: vw(10.5);
            }
            .dot_line.rb {
              right: vw(10.5);
              bottom: vw(10.5);
            }
          }

          .num {
            @include inter;
            font-size: vw(36);
            font-weight: bold;
            color: $yellow;
            line-height: 1.5;
            flex-shrink: 0;
          }

          .txt {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .name {
              display: flex;
              flex-direction: column;
              margin-bottom: vw(16);

              .ja {
                font-size: vw(30);
                font-weight: bold;
              }

              .en {
                @include inter;
                font-size: vw(16);
                font-weight: bold;
              }
            }

            .detail {
              background-color: $lightgray;
              padding-inline: vw(6);
              margin-bottom: vw(16);
            }
          }
        }
      }
    }
  } // facility

  section.service {
    padding-top: vw(106);
    padding-bottom: vw(146);
    margin-bottom: vw(110);

    .sec_title {
      margin-bottom: vw(20);
    }

    .contents {
      .lead {
        line-height: 1.8;
        margin-bottom: vw(68);
      }

      .service_lists {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: vw(20);
        row-gap: vw(44);

        li {
          display: flex;
          align-items: center;
          column-gap: vw(24);

          .img {
            width: vw(194);
            flex-shrink: 0;
          }

          dl {
            line-height: 1.8;

            dt {
              font-weight: bold;
              margin-bottom: vw(16);
            }
          }
        }
      }
    }
  } // service

  section.price {
    margin-bottom: vw(100);

    .sec_title {
      margin-bottom: vw(20);
    }

    .contents {
      .lead {
        line-height: 1.8;
        margin-bottom: vw(68);
      }

      .table_area {
        margin-bottom: vw(68);
      }

      .note {
        line-height: 1.8;
        display: flex;
        flex-direction: column;
        row-gap: vw(16);
      }
    }
  } // price

  section.precautions {
    padding-top: vw(102);
    padding-bottom: vw(220);

    .contents {
      margin-bottom: vw(132);
    }
  } // precautions
}

// -----------------------------------------------------------------
// CAMP & FOOD layout
// -----------------------------------------------------------------
[data-parent='camp-food'] {
  #container {
    padding-bottom: 0;
  }

  .page_header {
    margin-bottom: vw(60);
  }

  section {
    position: relative;

    .contents {
      line-height: 1.8;
    }
  }

  section.head {
    margin-bottom: vw(140);
  } // head

  section.room {
    margin-bottom: vw(140);

    .lead {
      margin-bottom: vw(46);
    }

    .floor {
      position: relative;
      padding: vw(135) vw(37) vw(80) vw(200);

      .dot_bg {
        clip-path: polygon(vw(80) 0%, 100% 0, 100% 100%, vw(80) 100%, 0 calc(100% - #{vw(80)}), 0 vw(80));
        background-color: $white;
        width: vw(1400);
        z-index: 0;

        .dot_line.lt {
          top: vw(40.5);
          left: vw(40.5);
        }

        .dot_line.lb {
          bottom: vw(40.5);
          left: vw(40.5);
        }
      }

      figure {
        position: relative;
        width: vw(936);
      }

      .txt {
        position: relative;
        width: vw(470);
        margin: vw(-420) 0 0 vw(530);

        dl {
          background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
          background-size: vw(8) 1px;
          background-repeat: repeat-x;
          background-position: 0 100%;
          display: flex;
          justify-content: space-between;
          font-size: vw(18);
          padding: vw(48) 0;

          dt {
            color: $green;
            width: vw(125);
            flex-shrink: 0;
          }

          dd {
            width: 100%;
          }
        }
      }
    }
  } // room

  section.rule {
    margin-bottom: vw(170);

    .contents {
      dl {
        background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
        background-size: vw(8) 1px;
        background-repeat: repeat-x;
        background-position: 0 100%;
        display: flex;
        justify-content: space-between;
        font-size: vw(18);
        padding: vw(38) 0;

        dt {
          width: vw(225);
          flex-shrink: 0;
        }

        dd {
          width: 100%;
        }
      }
    }
  } // rule

  section.fee {
    margin-bottom: vw(160);

    .lead {
      margin-top: vw(40);
    }
  } // fee

  section.precautions {
    margin-bottom: vw(110);

    .lead {
      margin-bottom: vw(40);
      font-size: vw(20);
    }
  } // precautions

  section.food {
    padding: vw(80) 0 vw(250);

    .white_bg {
      z-index: -1;
    }

    .sec_title {
      margin-bottom: vw(80);
    }

    .autoscroll {
      width: calc(100% + #{vw(200)});
      margin-left: vw(-100);
      margin-bottom: vw(100);

      .splide {
        margin-bottom: vw(20);
      }

      .splide__slide {
        height: 100%;
        padding-inline: vw(8);

        img {
          height: vw(690);
        }
      }

      p {
        max-width: vw(1240);
        margin-inline: auto;
      }
    }

    .contents {
      width: vw(830);
      margin-bottom: vw(220);

      .lead {
        margin-bottom: vw(40);
      }

      .detail {
        width: vw(510);
        margin-bottom: vw(34);

        dl {
          background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
          background-size: vw(8) 1px;
          background-repeat: repeat-x;
          background-position: 0 100%;
          display: flex;
          justify-content: space-between;
          font-size: vw(18);
          padding: vw(26) 0;

          dt {
            color: $green;
            width: vw(145);
            flex-shrink: 0;
          }

          dd {
            width: 100%;
          }
        }
      }

      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .btn_pdf {
        @include easing($property: color);
        filter: $outline;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: vw(10);
        position: relative;
        width: vw(263);
        height: vw(53);

        &:before {
          @include easing($property: background);
          clip-path: polygon(vw(14) 0%, calc(100% - #{vw(14)}) 0%, 100% vw(14), 100% calc(100% - #{vw(14)}), calc(100% - #{vw(14)}) 100%, vw(14) 100%, 0% calc(100% - #{vw(14)}), 0% vw(14));
          background-color: $white;
          content: '';
          display: block;
          width: calc(100% - 2px);
          height: calc(100% - 2px);
          position: absolute;
          top: 1px;
          left: 1px;
          z-index: 0;
        }

        &:after {
          @include easing($property: background);
          mask: url(../img/common/ic_pdf.webp) no-repeat 0 0;
          mask-size: 100% 100%;
          background-color: $black;
          content: '';
          display: block;
          width: vw(20);
          height: vw(20);
        }

        span {
          position: relative;
          font-weight: 700;
          line-height: 1.4;
        }

        @include hover {
          color: $white;

          &:before {
            background-color: $black;
          }

          &:after {
            background-color: $white;
          }
        }
      }
    }
  } // food
}

// -----------------------------------------------------------------
// ACCESS layout
// -----------------------------------------------------------------
[data-parent='access'] {
  background-color: $white;

  .gmap {
    max-width: vw(1440);
    height: vw(560);
    margin-inline: auto;
    margin-bottom: vw(100);
    position: relative;
    z-index: 5;
    filter: grayscale(1);

    iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  } // gmap

  .page_container {
    display: flex;
    flex-direction: column;
    row-gap: vw(160);
  }
}

// -----------------------------------------------------------------
// NEWS layout
// -----------------------------------------------------------------
[data-parent='news'] {
  background-color: $white;

  .categories {
    display: flex;
    flex-wrap: wrap;
    gap: vw(24);

    li {
      width: vw(128);
      height: vw(38);
    }

    a {
      @include easing($property: color);
      @include inter;
      filter: $outline;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 100%;
      font-size: vw(14);

      &:before {
        @include easing($property: background);
        clip-path: polygon(vw(10) 0%, calc(100% - #{vw(10)}) 0%, 100% vw(10), 100% calc(100% - #{vw(10)}), calc(100% - #{vw(10)}) 100%, vw(10) 100%, 0% calc(100% - #{vw(10)}), 0% vw(10));
        background-color: $white;
        content: '';
        display: block;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        position: absolute;
        top: 1px;
        left: 1px;
        z-index: -1;
      }

      &.active {
        pointer-events: none;

        &:before {
          background-color: $yellow;
        }
      }

      @include hover {
        &:before {
          background-color: $yellow;
        }
      }
    }
  } // categories

  // 一覧
  &[data-child='index'] {
    .page_header {
      margin-bottom: vw(58);
    }

    .categories {
      margin-bottom: vw(96);
    }

    .pagenate {
      margin-top: vw(85);

      .wp-pagenavi {
        @include inter;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        column-gap: vw(50);
        position: relative;
        font-size: vw(18);
        font-weight: 500;
      }

      .previouspostslink,
      .nextpostslink {
        @include easing($property: background);
        mask: url(../img/common/ic_arrow_link.webp) no-repeat 0 0;
        mask-size: 100% 100%;
        background-color: $black;
        text-indent: -9999px;
        width: vw(11);
        height: vw(15);

        @include hover {
          background-color: $yellow;
        }
      }

      .previouspostslink {
        transform: scaleX(-1);
      }

      .page {
        @include easing($property: color);
        color: #b2b2b2;

        @include hover {
          color: $black;
        }
      }

      .curent {
      }
    }
  } // index

  // 詳細
  &[data-child='detail'] {
    .page_header {
      margin-bottom: vw(36);
    }

    .categories {
      margin-bottom: vw(36);
    }

    .post_container {
      position: relative;
      padding-top: vw(110);

      &:before {
        transform: translateX(-50%);
        background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
        background-size: vw(8) 1px;
        background-repeat: repeat-x;
        background-position: 0 0;
        content: '';
        display: block;
        width: 100vw;
        height: 1px;
        position: absolute;
        top: 0;
        left: 50%;
      }
    }

    .post_header {
      display: flex;
      align-items: center;
      column-gap: vw(28);
      margin-bottom: vw(68);

      .date {
        @include inter;
        font-size: vw(16);
        font-weight: 500;
        flex-shrink: 0;
      }

      .tags {
        display: flex;
        align-items: center;
        column-gap: vw(24);
        flex-shrink: 0;

        span {
          @include inter;
          filter: $outline;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          width: vw(112);
          height: vw(33);
          font-size: vw(14);

          &:before {
            @include easing($property: background);
            clip-path: polygon(vw(10) 0%, calc(100% - #{vw(10)}) 0%, 100% vw(10), 100% calc(100% - #{vw(10)}), calc(100% - #{vw(10)}) 100%, vw(10) 100%, 0% calc(100% - #{vw(10)}), 0% vw(10));
            background-color: $white;
            content: '';
            display: block;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            position: absolute;
            top: 1px;
            left: 1px;
            z-index: -1;
          }
        }
      }

      .title {
        font-size: vw(32);
        line-height: 1.5;
        margin-top: -0.1em;
      }
    }

    .post_contents {
      width: vw(790);
      margin-left: vw(258);
      margin-bottom: vw(70);
      display: flex;
      flex-direction: column;
      row-gap: vw(50);
      line-height: 2;

      h2 {
        font-size: vw(32);
        line-height: 1.5;
        letter-spacing: 0.03em;
      }

      h3 {
        font-size: vw(28);
        line-height: 1.5;
        letter-spacing: 0.03em;
      }

      h4 {
        font-size: vw(24);
        line-height: 1.5;
        letter-spacing: 0.03em;
      }

      figcaption {
        font-size: vw(12);
      }

      hr {
        border-width: 1px;
        color: $black;
      }

      .wp-block-embed__wrapper {
        width: 100%;
        aspect-ratio: 16 / 9;

        iframe {
          width: 100%;
          height: 100%;
        }
      }

      blockquote {
        border: 1px solid $black;
        padding: vw(12) vw(19);
      }

      ul {
        margin-left: 1em;

        li {
          list-style: disc;
        }
      }

      ol {
        margin-left: 1em;

        li {
          list-style: decimal;
        }
      }

      a {
        text-decoration: underline;

        @include hover {
          text-decoration: none;
        }
      }
    }

    .share {
      width: vw(790);
      margin-left: vw(258);
      display: flex;
      align-items: center;
      justify-content: center;

      dl {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: vw(35);

        dt {
          font-size: vw(14);
        }

        dd {
          display: flex;
          align-items: center;
          column-gap: vw(30);
        }
      }

      a {
        @include easing($property: transform);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: block;
        width: vw(32);
        height: vw(32);

        @include hover {
          transform: scale(1.1);
        }

        &.x {
          background-image: url(../img/common/ic_x.webp);
        }

        &.fb {
          background-image: url(../img/common/ic_fb.webp);
        }
      }
    }
  } // detail
}

// -----------------------------------------------------------------
// FAQ layout
// -----------------------------------------------------------------
[data-parent='faq'] {
  .page_header {
    margin-bottom: vw(100);
  }

  .faq_container {
    max-width: vw(1008);
    display: flex;
    flex-direction: column;
    row-gap: vw(80);
  }

  .faq_section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: vw(85);

    .faq_title {
      text-align: right;
      width: vw(150);
      flex-shrink: 0;
      font-size: vw(18);
      font-weight: bold;
    }

    .faq_lists {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: vw(24);
    }

    .faq_unit {
      background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
      background-size: vw(8) 1px;
      background-repeat: repeat-x;
      background-position: 0 100%;

      dt,
      dd {
        position: relative;
        padding-left: vw(40);

        &:before {
          @include inter;
          font-size: vw(22);
          font-weight: 500;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      dt {
        font-size: vw(18);

        &:before {
          content: 'Q';
        }

        button {
          @include easing($property: #{'color'});
          width: 100%;
          position: relative;
          text-align: left;
          padding-bottom: vw(24);

          &:after {
            @include easing($property: #{'transform,background'});
            mask: url(../img/common/ic_arrow_link.webp) no-repeat 0 0;
            mask-size: 100% 100%;
            background-color: $black;
            content: '';
            display: block;
            width: vw(15);
            height: vw(20);
            position: absolute;
            top: 0;
            right: 0;
          }

          @include hover {
            &:after {
              background-color: $yellow;
            }
          }
        }
      }

      dd {
        padding-bottom: vw(24);
        padding-right: vw(160);

        &:before {
          content: 'A';
          top: 0.2em;
        }

        > * {
          font-size: vw(16);
          line-height: 1.8;
        }
      }

      &.active {
        dt {
          button {
            &:after {
              transform: rotate(-90deg);
            }
          }
        }
      }
    }
  }
}

// -----------------------------------------------------------------
// CONTACT layout
// -----------------------------------------------------------------
[data-parent='contact'] {
  background-color: $white;

  .page_header {
    margin-bottom: vw(110);
  }

  .page_container {
    padding-left: vw(88);
  }

  .form-buttons {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;

    .btn {
      @include easing($property: #{'background,color'});
      mask: url(../img/common/logo_icon.webp) no-repeat 0 0;
      mask-size: 100% 100%;
      background-color: $black;
      width: vw(210);
      height: vw(61);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      font-weight: bold;
      color: $white;

      &:after {
        @include easing($property: background);
        mask: url(../img/common/ic_arrow_link.webp) no-repeat 0 0;
        mask-size: 100% 100%;
        background-color: $white;
        content: '';
        display: block;
        width: vw(9);
        height: vw(13);
        position: absolute;
        top: 50%;
        right: vw(20);
        margin-top: vw(-6.5);
      }

      @include hover {
        background-color: $yellow;
      }

      &.back {
        background-color: $lightgray;
        color: $black;

        &:after {
          transform: scaleX(-1);
          background-color: $black;
          left: vw(20);
          right: auto;
        }

        @include hover {
          background-color: $black;
          color: $white;

          &:after {
            background-color: $white;
          }
        }
      }
    }
  }

  // 共通設定
  .form-group {
    width: 100%;
  }

  #formLoading {
    margin-top: vw(30);
    font-size: vw(12);
  }

  .form-unit {
    width: 100%;

    dt {
      margin-bottom: vw(15);

      label {
        display: flex;
        align-items: center;
        column-gap: vw(24);
      }

      .required {
        font-size: vw(14);
        color: #ff5800;
      }
    }

    input[type='text'],
    input[type='email'],
    input[type='password'],
    input[type='tel'] {
      border-bottom: 1px solid $black;
      display: block;
      width: 100%;
      padding: vw(10) 0 vw(20);
    }

    textarea {
      padding: vw(30);
      border: 1px solid $black;
      width: 100%;
      height: vw(430);
      line-height: 2;
    }
  }

  // 入力画面
  #form-area {
    .error-message {
      font-size: vw(14);
      color: #ff5800;
      margin-top: vw(10);
    }

    .form-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: vw(62);
      margin-bottom: vw(30);
      width: vw(814);
    }

    .form-column {
      width: 100%;
      display: flex;
      justify-content: space-between;
      column-gap: vw(68);
    }

    .form-footer {
      width: vw(814);
      display: flex;
      justify-content: space-between;
      column-gap: vw(132);

      p {
        line-height: 2;
        font-size: vw(14);
      }
    }
  } // form-area

  // 確認画面
  #confirm-area {
    width: vw(670);

    .confirm-table {
      display: flex;
      flex-direction: column;
      row-gap: vw(52);
      margin-bottom: vw(74);
    }

    .form-unit.confirm {
      dt {
        margin-bottom: vw(20);
      }

      dd {
        line-height: 1.8;
      }
    }
  } // confirm-area

  // 完了画面
  #complete-area {
    width: vw(790);

    p {
      font-size: vw(18);
      line-height: 1.8;
      margin-bottom: vw(77);
    }
  } // complete-area
}
