@use 'sass:math';

// -----------------------------------------------------------------
// setting import
// -----------------------------------------------------------------
@use '../../../core/' as *;
@use '../../../core/config_sp' as *;

// -----------------------------------------------------------------
// SP size layout
// -----------------------------------------------------------------
@include sp {
} // sp
