@use 'sass:math';

// -----------------------------------------------------------------
// setting import
// -----------------------------------------------------------------
@use '../../../core/' as *;
@use '../../../core/config_tb' as *;

// -----------------------------------------------------------------
// TB size layout
// -----------------------------------------------------------------
@include tb {
  .container {
    position: relative;
    overflow: hidden;

    .line {
      &.l1 {
        transform: rotate(-10deg);
        width: vw(1800);
        top: vw(410);
        margin-left: vw(-900);
      }

      &.l2 {
        transform: rotate(24deg);
        width: vw(1800);
        top: vw(880);
        margin-left: vw(-990);
      }

      &.l3 {
        transform: rotate(144deg);
        width: vw(2000);
        top: vw(1762);
        margin-left: vw(-1230);

        &:before {
          background-color: $lightgray;
          content: '';
          display: block;
          width: px(7);
          height: px(7);
          position: absolute;
          top: px(-3.5);
          left: 0;
          border-radius: 100%;
        }
      }
    } // line
  } // container

  #mv {
    position: relative;
    height: 100vh;
    min-height: px(700);

    .mv_copy {
      position: absolute;
      top: 50%;
      left: 50%;
      width: px(930);
      height: px(505);
      margin: px(-255) 0 0 px(-465);
    }

    .mv_obj {
      position: absolute;
      left: 50%;

      &:before {
        @include easing($duration: 1s, $property: #{'clip-path'}, $easing: $easeInOutQuart, $delay: 0.3s);
        clip-path: inset(99.99% 0 0 0);
        mask-position: 0 0;
        mask-repeat: no-repeat;
        mask-size: 100% 100%;
        background-color: $gray;
        content: '';
        display: block;
        position: absolute;
        z-index: 5;
      }

      .board {
        @include easing($duration: 1s, $property: #{'clip-path'}, $easing: $easeInOutQuart);
        clip-path: inset(0 99.99% 0 0);
        height: px(24);
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;

        &:after {
          background-color: #8c8c7b;
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      &.active {
        &:before,
        .board {
          clip-path: inset(0);
        }
      }
    } // mv_obj

    .mo1 {
      top: px(170);
      width: px(598);
      margin-left: px(-465);

      &:before {
        mask-image: url(../img/txt_mv_1.svg);
        width: px(634);
        height: px(177);
        top: px(-195.5);
        left: px(-7);
      }

      .board {
        &:after {
          clip-path: polygon(px(5) 0%, 100% 0%, calc(100% - #{px(5)}) 100%, 0% 100%);
        }
      }
    }

    .mo2 {
      top: px(480);
      width: px(404);
      margin-left: px(60);

      &:before {
        mask-image: url(../img/txt_mv_2.svg);
        width: px(476);
        height: px(178);
        top: px(-196);
        left: px(-60);
      }

      .board {
        &:after {
          clip-path: polygon(0 0%, calc(100% - #{px(5)}) 0%, 100% 100%, px(5) 100%);
        }
      }
    }

    .mv_txt {
      @include easing($duration: 1s, $property: #{'clip-path'}, $easing: $easeInOutQuart);
      clip-path: inset(0 99.99% 0 0);
      transform: translateX(-50%);
      font-size: px(32);
      letter-spacing: 0.1em;
      font-weight: bold;
      position: absolute;
      top: px(200);
      left: 50%;

      &.active {
        clip-path: inset(0);
      }
    } // mv_txt

    .mv_news {
      @include easing($duration: 0.4s, $property: #{'transform, opacity'});
      transform: translateY(30px);
      opacity: 0;
      font-size: px(14);
      font-weight: bold;
      position: absolute;
      bottom: px(-50);
      left: 50%;
      margin-left: px(65);

      &.active {
        transform: translateY(0);
        opacity: 1;
      }
    } // mv_news

    .ic_scroll {
      @include easing($duration: 1s, $property: #{'clip-path'}, $easing: $easeInOutQuart);
      clip-path: inset(99.99% 0 0 0);
      position: absolute;
      bottom: 0;
      left: 50%;
      width: px(7);
      height: px(100);
      overflow: hidden;

      &.active {
        clip-path: inset(0);
      }

      &:before {
        background-color: $gray;
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -0.5px;
      }

      &:after {
        animation: scroll_icon 1.5s ease infinite;
        background-color: $gray;
        content: '';
        display: block;
        width: px(7);
        height: px(7);
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: px(-3.5);
        z-index: 5;
      }
    } // ic_scroll
  } // mv

  #statement {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: px(260) px(20);
    position: relative;

    .inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: px(116);
      width: 100%;
      max-width: px(1040);
    }

    .l_icon {
      background-color: $gray;
      width: px(288);
      height: px(288);
      flex-shrink: 0;
    }

    .txt {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: px(40);
      font-size: px(24);
      font-weight: bold;
      letter-spacing: 0.1em;
      line-height: 2;
    }
  } // statement

  #change {
    position: relative;
    font-size: px(28);
    letter-spacing: 0.1em;
    text-align: center;
    padding: px(100) px(20);

    &:before {
      background-color: $white;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      pointer-events: none;
    }
  } // change

  #about {
    background-color: $gray;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: px(180) px(40);

    .inner {
      max-width: px(800);
      width: 100%;
      color: $white;
    }

    .logo {
      column-gap: px(53);
      margin-bottom: px(90);

      .l_icon,
      .l_text {
        background-color: $white;
      }

      .l_icon {
        width: px(144);
        height: px(148);
      }

      .l_text {
        width: px(565);
        height: px(60);
      }
    }

    .line {
      &.l5 {
        width: vw(1800);
        top: vw(340);
        margin-left: vw(-900);
      }

      &.l6 {
        width: vw(1000);
        top: vw(704);
        margin-left: vw(20);

        &:before {
          width: px(7);
          height: px(7);
          top: px(-3.5);
        }
      }
    } // line
  } // about
} // tb
