@use 'sass:math';

// -----------------------------------------------------------------
// setting import
// -----------------------------------------------------------------
@use '../../../core/' as *;
@use '../../../core/config_tb' as *;

// -----------------------------------------------------------------
// TB size layout
// -----------------------------------------------------------------
@include tb {
} // tb
