// -----------------------------------------------------------------
// setting import
// -----------------------------------------------------------------
@use '../../../core/' as *;
@use '../../../core/config_max' as *;

// -----------------------------------------------------------------
// MAX size layout
// -----------------------------------------------------------------
@include max {
}
