// -----------------------------------------------------------------
// setting import
// -----------------------------------------------------------------
@use '../../../core/' as *;
@use '../../../core/config_max' as *;

// -----------------------------------------------------------------
// MAX size layout
// -----------------------------------------------------------------
@include max {
  // -----------------------------------------------------------------
  // Base layout
  // -----------------------------------------------------------------
  body {
    font-size: vw(16);
  }

  // -----------------------------------------------------------------
  // Global Header Layout
  // -----------------------------------------------------------------
  #globalHeader {
    height: vw(128);
    padding-top: vw(50);
    padding-left: vw(32);

    &:before {
      clip-path: polygon(0 0, 100% 0, calc(100% - #{vw(34)}) 100%, 0% 100%);
      width: vw(204);
      height: vw(34);
      bottom: vw(-33.5);
    }

    .logo {
      width: vw(140);
      row-gap: vw(9);
    }
  } // globalHeader

  #globalNavi {
    right: vw(36);
    height: vw(128);

    .gnavi {
      font-size: vw(16);
      margin-right: vw(43);
      column-gap: vw(40);
    }

    .sns {
      column-gap: vw(25);
      margin-right: vw(43);

      .yt {
        &:before {
          width: vw(20);
          height: vw(14);
        }
      }
    }

    .external_links {
      column-gap: vw(20);

      a {
        width: vw(124);
        height: vw(66);

        &:before {
          clip-path: polygon(vw(10) 0%, calc(100% - #{vw(10)}) 0%, 100% vw(10), 100% calc(100% - #{vw(10)}), calc(100% - #{vw(10)}) 100%, vw(10) 100%, 0% calc(100% - #{vw(10)}), 0% vw(10));
        }

        &:after {
          width: vw(8);
          height: vw(12);
          right: vw(15);
          margin-top: vw(-6);
        }
      }
    }
  } // globalNavi

  // -----------------------------------------------------------------
  // Global Footer Layout
  // -----------------------------------------------------------------
  #globalFooter {
    padding: vw(200) 0 vw(80);

    .logo {
      width: vw(1444);
      height: vw(100);
      margin-left: vw(-724);
    }

    .inner {
      max-width: vw(1240);
    }

    .main {
      margin-bottom: vw(100);
    }

    .access {
      .title {
        font-size: vw(24);
        margin-bottom: vw(8);
      }

      .txt {
        font-size: vw(14);
        row-gap: vw(8);

        dl {
          dt {
            width: vw(85);
          }
        }
      }
    }

    .link_unit {
      column-gap: vw(70);

      .page {
        row-gap: vw(30);

        a {
          row-gap: vw(4);

          .en {
            font-size: vw(24);
          }

          .ja {
            font-size: vw(14);
          }
        }
      }

      .sns {
        column-gap: vw(25);

        a {
          width: vw(62);
          height: vw(62);
        }
      }
    }

    .copyright {
      font-size: vw(13);
    }
  } // globalFooter

  // -----------------------------------------------------------------
  // container Layout
  // -----------------------------------------------------------------
  #container {
    padding-top: vw(260);
    padding-bottom: vw(200);

    &:before {
      background-image: linear-gradient(to bottom, $gray2 vw(4), transparent vw(4));
      background-size: 1px vw(8);
    }

    &:before {
      margin-left: vw(-620);
    }
  } // container
}
