@use 'sass:math';

// -----------------------------------------------------------------
// setting import
// -----------------------------------------------------------------
@use '../../../core/' as *;
@use '../../../core/config_sp' as *;

// -----------------------------------------------------------------
// SP size layout
// -----------------------------------------------------------------
@include sp {
  // -----------------------------------------------------------------
  // Base layout
  // -----------------------------------------------------------------
  body {
    font-size: vw(16);
  }

  // -----------------------------------------------------------------
  // Global Header Layout
  // -----------------------------------------------------------------
  #globalHeader {
    background-color: transparent;
    height: vw(100);
    padding-top: vw(22);
    padding-left: vw(18);

    &:before {
      display: none;
    }

    &.white {
      background-color: transparent !important;
    }

    .logo {
      width: vw(118);
      row-gap: vw(7);
    }
  } // globalHeader

  #btnMenu {
    background: url(../img/common/btn_menu.svg) no-repeat 0 0;
    background-size: 100% 100%;
    position: fixed;
    top: vw(31);
    right: vw(17);
    z-index: 99;
    display: block;
    width: vw(98);
    height: vw(36);

    &:before {
      clip-path: polygon(vw(9) 0%, calc(100% - #{vw(9)}) 0%, 100% vw(9), 100% calc(100% - #{vw(9)}), calc(100% - #{vw(9)}) 100%, vw(9) 100%, 0% calc(100% - #{vw(9)}), 0% vw(9));
      background-color: $white;
      content: '';
      display: block;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      position: absolute;
      top: 1px;
      left: 1px;
      right: 1px;
      bottom: 1px;
      z-index: 0;
    }

    span {
      @include easing($property: transform);
      background-color: $black;
      display: block;
      width: vw(50);
      height: 1px;
      position: absolute;
      left: vw(24);

      &:nth-child(1) {
        top: vw(15);
      }

      &:nth-child(2) {
        top: vw(21);
      }
    }

    &.active {
      span {
        &:nth-child(1) {
          transform: rotate(-7deg);
          top: vw(17);
        }

        &:nth-child(2) {
          transform: rotate(7deg);
          top: vw(17);
        }
      }
    }
  } // btnMenu

  #globalNavi {
    @include easing($property: #{'opacity, visibility'});
    right: 0;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    .inner {
      background-color: $lightgray;
      flex-direction: column;
      align-items: flex-start;
      row-gap: vw(40);
      height: auto;
      width: 100%;
      padding: vw(90) vw(38) vw(28) vw(38);
    }

    .gnavi {
      @include inter;
      font-size: vw(16);
      margin-right: 0;
      flex-direction: column;
      align-items: flex-start;
      gap: vw(42);
    }

    .sns {
      column-gap: vw(33);
      margin-right: 0;

      .ig {
        &:before {
          width: vw(26);
          height: vw(26);
        }
      }

      .yt {
        &:before {
          width: vw(26);
          height: vw(18);
        }
      }
    }

    .external_links {
      flex-direction: column;
      align-items: flex-start;
      gap: vw(20);

      a {
        background-image: url(../img/common/btn_frame_sp.svg);
        width: vw(146);
        height: vw(58);

        &:before {
          clip-path: polygon(vw(8) 0%, calc(100% - #{vw(8)}) 0%, 100% vw(7), 100% calc(100% - #{vw(7)}), calc(100% - #{vw(8)}) 100%, vw(8) 100%, 0% calc(100% - #{vw(7)}), 0% vw(7));
        }

        &:after {
          width: vw(8);
          height: vw(12);
          right: vw(15);
          margin-top: vw(-6);
        }

        span {
          font-size: vw(14);
        }
      }
    }
  } // globalNavi

  // -----------------------------------------------------------------
  // Global Footer Layout
  // -----------------------------------------------------------------
  #globalFooter {
    padding: vw(38) vw(20) vw(26);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .logo {
      width: vw(118);
      height: vw(58);
      position: relative;
      left: 0;
      margin-left: 0;
      order: 1;

      .l_icon {
        width: vw(118);
        height: vw(42);
        margin-bottom: vw(7);
      }

      .l_text {
        width: vw(118);
        height: vw(9);
      }
    }

    .inner {
      max-width: initial;
      display: contents;
    }

    .main {
      display: contents;
      margin-bottom: 0;
    }

    .access {
      order: 3;
      margin-bottom: vw(20);

      .title {
        font-size: vw(20);
        margin-bottom: vw(4);
      }

      .txt {
        font-size: vw(14);
        row-gap: vw(4);

        dl {
          dt {
            width: vw(85);
          }
        }
      }
    }

    .link_unit {
      order: 2;
      flex-direction: column;
      gap: vw(28);
      margin-top: vw(-8);
      margin-bottom: vw(40);

      .page {
        row-gap: vw(20);

        a {
          row-gap: vw(4);

          .en {
            font-size: vw(20);
          }

          .ja {
            font-size: vw(14);
          }
        }
      }

      .sns {
        column-gap: vw(20);

        a {
          width: vw(52);
          height: vw(52);
        }
      }
    }

    .copyright {
      order: 4;
      font-size: vw(12);
    }
  } // globalFooter

  // -----------------------------------------------------------------
  // container Layout
  // -----------------------------------------------------------------
  #container {
    padding-top: vw(140);
    padding-bottom: vw(80);

    &:before {
      background-image: linear-gradient(to bottom, $gray2 vw(4), transparent vw(4));
      background-size: 1px vw(8);
      left: vw(20);
      margin-left: 0;
    }
  } // container
} // SP
