@use 'sass:math';

// -----------------------------------------------------------------
// setting import
// -----------------------------------------------------------------
@use '../../../core/' as *;
@use '../../../core/config_tb' as *;

// -----------------------------------------------------------------
// TB size layout
// -----------------------------------------------------------------
@include tb {
  // -----------------------------------------------------------------
  // Base layout
  // -----------------------------------------------------------------
  body {
    font-size: px(18);
  }

  // -----------------------------------------------------------------
  // Global Header Layout
  // -----------------------------------------------------------------
  #globalHeader {
    top: px(30);
    left: px(28);

    .logo {
      column-gap: px(20);

      .l_icon {
        width: px(55);
        height: px(55);
      }

      .l_text {
        width: px(214);
        height: px(22);
      }
    }
  } // globalHeader

  // -----------------------------------------------------------------
  // Global Footer Layout
  // -----------------------------------------------------------------
  #globalFooter {
    padding: px(24) px(64);
    font-size: px(14);

    .links {
      column-gap: px(24);
    }
  } // globalFooter
}
