@use 'sass:math';

// -----------------------------------------------------------------
// setting import
// -----------------------------------------------------------------
@use '../../../core/' as *;
@use '../../../core/config_max' as *;

// -----------------------------------------------------------------
// MAX size layout
// -----------------------------------------------------------------
@include max {
  // -----------------------------------------------------------------
  // Parts layout
  // -----------------------------------------------------------------
  .l_icon {
    width: vw(140);
    height: vw(50);
  } // l_icon

  .l_text {
    width: vw(140);
    height: vw(10);
  } // l_text

  .sns {
    .yt {
      &:before {
        width: vw(24);
        height: vw(17);
      }
    }

    .ig {
      &:before {
        width: vw(20);
        height: vw(20);
      }
    }
  } // sns

  .page_title {
    column-gap: vw(26);

    .en {
      font-size: vw(90);
      line-height: vw(65);
    }

    .ja {
      font-size: vw(18);
    }
  } // page_title

  .page_header {
    background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
    background-size: vw(8) 1px;

    .page_title {
      max-width: vw(1240);
    }
  } // page_header

  .page_container {
    max-width: vw(1240);
  } // page_container

  .sec_title {
    column-gap: vw(20);
    margin-bottom: vw(50);

    &:after {
      background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
      background-size: vw(8) 1px;
    }

    .en {
      &:nth-child(1) {
        font-size: vw(58);
      }

      &:nth-child(2) {
        font-size: vw(18);
      }
    }

    .ja {
      &:nth-child(1) {
        font-size: vw(48);
      }

      &:nth-child(2) {
        font-size: vw(18);
      }
    }
  } // sec_title

  .precautions_lists {
    padding-left: vw(10);
    row-gap: vw(30);

    > li {
      font-size: vw(20);
    }

    ul {
      font-size: vw(16);

      li {
        column-gap: vw(5);
      }
    }
  } // precautions_lists

  .dot_bg {
    &:before {
      background-image: linear-gradient(to right, $gray2 vw(2), transparent vw(2)), linear-gradient(to right, $gray2 vw(2), transparent vw(2)), linear-gradient(to bottom, $gray2 vw(2), transparent vw(2)), linear-gradient(to bottom, $gray2 vw(2), transparent vw(2));
      background-size:
        vw(4) 1px,
        vw(4) 1px,
        1px vw(4),
        1px vw(4);
    }

    .dot_line {
      background-image: linear-gradient(to right, $gray2 vw(2), transparent vw(2));
      background-size: vw(4) 1px;
    }
  } // dot_bg

  .reserve_buttons {
    column-gap: vw(90);

    .btn_reserve {
      row-gap: vw(6);
      width: vw(406);
      height: vw(118);

      &:after {
        width: vw(19);
        height: vw(27);
        right: vw(35);
        margin-top: vw(-14);
      }

      .en {
        font-size: vw(20);
      }

      .ja {
        font-size: vw(18);
      }
    }

    .note {
      font-size: vw(14);
      margin-top: vw(22);
    }
  } // reserve_buttons

  .color_table {
    border-spacing: vw(4);

    th,
    td {
      width: vw(203);
      height: vw(103);
      font-size: vw(20);

      &:before {
        clip-path: polygon(vw(12) 0%, calc(100% - #{vw(12)}) 0%, 100% vw(12), 100% calc(100% - #{vw(12)}), calc(100% - #{vw(12)}) 100%, vw(12) 100%, 0% calc(100% - #{vw(12)}), 0% vw(12));
      }

      span {
        font-size: vw(16);
      }

      &.white {
        font-size: vw(18);
      }
    }
  } // color_table

  .news_lists {
    background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
    background-size: vw(8) 1px;

    .post {
      background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
      background-size: vw(8) 1px;

      a {
        padding: vw(24) vw(60) vw(24) 0;

        &:after {
          width: vw(17);
          height: vw(23);
          right: vw(40);
          margin-top: vw(-12);
        }
      }

      .date {
        @include inter;
        font-size: vw(14);
        margin-right: vw(22);
      }

      .tags {
        column-gap: vw(24);
        margin-right: vw(98);

        span {
          width: vw(112);
          height: vw(33);
          font-size: vw(14);
        }
      }

      .title {
        font-size: vw(18);
      }
    }
  } // news_lists

  .btn_more {
    width: vw(176);
    height: vw(51);

    &:after {
      width: vw(8);
      height: vw(12);
      right: vw(18);
      margin-top: vw(-6);
    }
  } // btn_more

  .access_contents {
    padding-left: vw(100);
    column-gap: vw(70);

    .map {
      width: vw(420);
    }

    .txt {
      row-gap: vw(62);

      dl {
        background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
        background-size: vw(8) 1px;
        padding-bottom: vw(62);

        dt {
          font-size: vw(24);
          width: vw(150);
        }

        dd {
          font-size: vw(18);
          row-gap: vw(20);
        }
      }

      .pin {
        column-gap: vw(5);

        &:after {
          width: vw(15);
          height: vw(18);
        }
      }
    }
  } // access_contents

  .ai-sports_lists {
    display: flex;
    column-gap: vw(40);

    li {
      width: vw(280);
      height: vw(155);

      strong {
        font-size: vw(26);
      }

      span {
        font-size: vw(18);
      }
    }
  } // ai-sports_lists
} // max
