@use 'sass:math';

// -----------------------------------------------------------------
// setting import
// -----------------------------------------------------------------
@use '../../../core/' as *;
@use '../../../core/config_pc' as *;

// -----------------------------------------------------------------
// Parts layout
// -----------------------------------------------------------------
.l_icon {
  mask: url(../img/common/logo_icon.webp) no-repeat 0 0;
  mask-size: 100% 100%;
  background-color: $black;
  display: block;
  width: vw(140);
  height: vw(50);
} // l_icon

.l_text {
  mask: url(../img/common/logo_text.webp) no-repeat 0 0;
  mask-size: 100% 100%;
  background-color: $black;
  display: block;
  width: vw(140);
  height: vw(10);
} // l_text

.sns {
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      mask-position: 0 0;
      mask-repeat: no-repeat;
      mask-size: 100% 100%;
      background-color: $black;
      content: '';
      display: block;
    }
  }

  .yt {
    &:before {
      mask-image: url(../img/common/ic_yt.webp);
      width: vw(24);
      height: vw(17);
    }
  }

  .ig {
    &:before {
      mask-image: url(../img/common/ic_ig.webp);
      width: vw(20);
      height: vw(20);
    }
  }
} // sns

.page_title {
  display: flex;
  align-items: flex-end;
  column-gap: vw(26);

  .en {
    @include inter;
    font-size: vw(90);
    font-weight: 700;
    letter-spacing: 0.01em;
    text-indent: -0.05em;
    line-height: vw(65);
  }

  .ja {
    font-size: vw(18);
  }
} // page_title

.page_header {
  background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
  background-size: vw(8) 1px;
  background-repeat: repeat-x;
  background-position: 0 100%;

  .page_title {
    max-width: vw(1240);
    margin-inline: auto;
  }
} // page_header

.page_container {
  position: relative;
  max-width: vw(1240);
  margin-inline: auto;
} // page_container

.sec_title {
  position: relative;
  display: flex;
  align-items: flex-end;
  column-gap: vw(20);
  margin-bottom: vw(50);

  &:after {
    background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
    background-size: vw(8) 1px;
    background-repeat: repeat-x;
    background-position: 0 100%;
    content: '';
    display: block;
    width: 100vw;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
  }

  .en {
    @include inter;

    &:nth-child(1) {
      font-size: vw(58);
      font-weight: 500;
      margin-bottom: -0.12em;
    }

    &:nth-child(2) {
      font-size: vw(18);
      font-weight: bold;
      letter-spacing: 0.03em;
    }
  }

  .ja {
    font-weight: bold;

    &:nth-child(1) {
      font-size: vw(48);
    }

    &:nth-child(2) {
      font-size: vw(18);
      letter-spacing: 0.2em;
    }
  }
} // sec_title

.precautions_lists {
  margin-left: 1em;
  line-height: 1.8;
  padding-left: vw(10);
  display: flex;
  flex-direction: column;
  row-gap: vw(30);

  > li {
    list-style: decimal;
    font-size: vw(20);
  }

  ul {
    font-size: vw(16);

    li {
      display: flex;
      column-gap: vw(5);

      &:before {
        content: '-';
      }
    }
  }
} // precautions_lists

.dot_bg {
  background-color: $white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;

  &:before {
    background-image: linear-gradient(to right, $gray2 vw(2), transparent vw(2)), linear-gradient(to right, $gray2 vw(2), transparent vw(2)), linear-gradient(to bottom, $gray2 vw(2), transparent vw(2)), linear-gradient(to bottom, $gray2 vw(2), transparent vw(2));
    background-size:
      vw(4) 1px,
      vw(4) 1px,
      1px vw(4),
      1px vw(4);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-position:
      0 0,
      0 100%,
      0 0,
      100% 0;

    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .dot_line {
    background-image: linear-gradient(to right, $gray2 vw(2), transparent vw(2));
    background-size: vw(4) 1px;
    background-repeat: repeat-x;
    background-position: 0 100%;
    position: absolute;
    width: 100%;
    height: 1px;

    &.lt {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &.rt {
      transform: translate(50%, -50%) rotate(45deg);
    }

    &.lb {
      transform: translate(-50%, 0) rotate(45deg);
      bottom: 0;
    }

    &.rb {
      transform: translate(50%, 0) rotate(-45deg);
      bottom: 0;
    }
  }
} // dot_bg

.white_bg {
  background-color: $white;
  position: absolute;
  top: 0;
  left: vw(-100);
  z-index: -1;
  pointer-events: none;
  width: calc(100% + #{vw(200)});
  height: 100%;
} // white_bg
