@use 'sass:math';

// -----------------------------------------------------------------
// setting import
// -----------------------------------------------------------------
@use '../../../core/' as *;
@use '../../../core/config_sp' as *;

// -----------------------------------------------------------------
// SP size layout
// -----------------------------------------------------------------
@include sp {
  // -----------------------------------------------------------------
  // Parts layout
  // -----------------------------------------------------------------
  .l_icon {
    width: vw(118);
    height: vw(42);
  } // l_icon

  .l_text {
    width: vw(118);
    height: vw(9);
  } // l_text

  .sns {
    .yt {
      &:before {
        width: vw(20);
        height: vw(14);
      }
    }

    .ig {
      &:before {
        width: vw(17);
        height: vw(17);
      }
    }
  } // sns

  .page_title {
    column-gap: vw(26);
    padding-left: vw(20);

    .en {
      font-size: vw(40);
      line-height: vw(40);
      margin-bottom: vw(-5);
    }

    .ja {
      font-size: vw(14);
    }
  } // page_title

  .page_header {
    background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
    background-size: vw(8) 1px;

    .page_title {
      max-width: initial;
    }
  } // page_header

  .page_container {
    max-width: initial;
    padding-inline: vw(20);
  } // page_container

  .sec_title {
    column-gap: vw(20);
    margin-bottom: vw(20);

    &:after {
      background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
      background-size: vw(8) 1px;
    }

    .en {
      &:nth-child(1) {
        font-size: vw(32);
      }

      &:nth-child(2) {
        font-size: vw(18);
      }
    }

    .ja {
      &:nth-child(1) {
        font-size: vw(32);
      }

      &:nth-child(2) {
        font-size: vw(16);
      }
    }
  } // sec_title

  .precautions_lists {
    padding-left: vw(10);
    row-gap: vw(30);

    > li {
      font-size: vw(16);
    }

    ul {
      font-size: vw(14);

      li {
        column-gap: vw(5);
      }
    }
  } // precautions_lists

  .dot_bg {
    &:before {
      background-image: linear-gradient(to right, $gray2 vw(2), transparent vw(2)), linear-gradient(to right, $gray2 vw(2), transparent vw(2)), linear-gradient(to bottom, $gray2 vw(2), transparent vw(2)), linear-gradient(to bottom, $gray2 vw(2), transparent vw(2));
      background-size:
        vw(4) 1px,
        vw(4) 1px,
        1px vw(4),
        1px vw(4);
    }

    .dot_line {
      background-image: linear-gradient(to right, $gray2 vw(2), transparent vw(2));
      background-size: vw(4) 1px;
    }
  } // dot_bg

  .reserve_buttons {
    flex-direction: column;
    gap: vw(25);

    .btn_reserve {
      row-gap: vw(6);
      width: vw(263);
      height: vw(76);

      &:after {
        width: vw(11);
        height: vw(15);
        right: vw(23);
        margin-top: vw(-7);
      }

      .en {
        font-size: vw(14);
        letter-spacing: 0.03em;
      }

      .ja {
        font-size: vw(16);
      }
    }
  } // reserve_buttons

  .table_area {
    width: calc(100% + #{vw(40)});
    margin-left: vw(-20);

    .scroll_area {
      overflow-x: auto;
      padding: 0 vw(20);
    }

    .color_table {
      width: vw(1240 * 0.8);
    }

    .note {
      margin: vw(10) 0 0 vw(20);
      font-size: vw(12);
    }
  } // table_area

  .color_table {
    border-spacing: vw(4);

    th,
    td {
      width: vw(203 * 0.8);
      height: vw(103 * 0.7);
      font-size: vw(16);

      &:before {
        clip-path: polygon(vw(12) 0%, calc(100% - #{vw(12)}) 0%, 100% vw(12), 100% calc(100% - #{vw(12)}), calc(100% - #{vw(12)}) 100%, vw(12) 100%, 0% calc(100% - #{vw(12)}), 0% vw(12));
      }

      span {
        font-size: vw(14);
      }

      &.white {
        font-size: vw(14);
      }
    }
  } // color_table

  .news_lists {
    background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
    background-size: vw(8) 1px;

    .post {
      background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
      background-size: vw(8) 1px;

      a {
        flex-wrap: wrap;
        row-gap: vw(12);
        padding: vw(24) vw(25) vw(24) 0;

        &:after {
          width: vw(17);
          height: vw(23);
          right: 0;
          margin-top: vw(-12);
        }
      }

      .date {
        font-size: vw(14);
        margin-right: vw(22);
      }

      .tags {
        column-gap: vw(24);
        margin-right: 0;

        span {
          width: vw(112);
          height: vw(33);
          font-size: vw(14);

          &:before {
            clip-path: polygon(vw(10) 0%, calc(100% - #{vw(10)}) 0%, 100% vw(10), 100% calc(100% - #{vw(10)}), calc(100% - #{vw(10)}) 100%, vw(10) 100%, 0% calc(100% - #{vw(10)}), 0% vw(10));
          }
        }
      }

      .title {
        width: 100%;
        font-size: vw(16);
      }
    }
  } // news_lists

  .btn_more {
    width: vw(172);
    height: vw(50);

    &:after {
      width: vw(8);
      height: vw(12);
      right: vw(16);
      margin-top: vw(-6);
    }
  } // btn_more

  .access_contents {
    padding-left: 0;
    flex-direction: column;
    gap: vw(20);

    .map {
      width: vw(306);
    }

    .txt {
      row-gap: vw(26);

      dl {
        background-image: linear-gradient(to right, $gray2 vw(4), transparent vw(4));
        background-size: vw(8) 1px;
        padding-bottom: vw(26);
        flex-direction: column;

        dt {
          font-size: vw(20);
          width: 100%;
          margin-bottom: vw(10);
        }

        dd {
          font-size: vw(16);
          row-gap: vw(20);
        }
      }

      .pin {
        column-gap: vw(5);

        &:after {
          width: vw(15);
          height: vw(18);
        }
      }
    }
  } // access_contents
} // SP
