@use 'sass:math';

// -----------------------------------------------------------------
// setting import
// -----------------------------------------------------------------
@use '../../../core/' as *;
@use '../../../core/config_sp_horizontal' as *;

// -----------------------------------------------------------------
// SP HORIZONTAL size layout
// -----------------------------------------------------------------
@include sp_horizontal {
}
