@use 'sass:math';

// -----------------------------------------------------------------
// setting import
// -----------------------------------------------------------------
@use '../../../core/' as *;
@use '../../../core/config_tb' as *;

// -----------------------------------------------------------------
// TB size layout
// -----------------------------------------------------------------
@include tb {
  // -----------------------------------------------------------------
  // Parts layout
  // -----------------------------------------------------------------
  .page_bg {
    &:before,
    &:after {
      width: px(1695);
      height: px(1695);
    }
  } // page_bg
} // TB
