@use 'sass:math';

// -----------------------------------------------------------------
// setting import
// -----------------------------------------------------------------
@use '../../core/' as *;
@use '../../core/config_pc' as *;
@use '../../core/config_max' as max;
@use '../../core/config_tb' as tb;
@use '../../core/config_sp_horizontal' as sph;
@use '../../core/config_sp' as sp;

// -----------------------------------------------------------------
// PC layout
// -----------------------------------------------------------------
#modal {
  @include easing($property: #{'opacity,visibility'});
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  pointer-events: none;

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }

  #modalInner {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
  }

  #modalContents {
    position: relative;
    z-index: 5;
    max-width: 1600px;
    width: 100%;
    margin: auto;
    padding: 100px 0;
  } // modalContents

  .btn_close {
    @include easing($property: transform);
    // background: url(../img/common/btn_close.webp) no-repeat 0 0;
    // background-size: 100% 100%;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    background-color: white;
    position: absolute;
    top: vw(-50);
    right: calc(#{vw(-20)} - var(--scrollbarWidth));
    width: vw(75);
    height: vw(75);
    display: block;

    &.active {
      right: vw(-20);
    }

    @include hover {
      transform: scale(1.1);
    }
  } // btn_close

  .modal_body {
    display: none;
    position: relative;

    &.active {
      display: block;
    }
  } // modal_body
} // modal

// -----------------------------------------------------------------
// MAX layout
// -----------------------------------------------------------------
@include max {
}

// -----------------------------------------------------------------
// TB layout
// -----------------------------------------------------------------
@include tb {
}

// -----------------------------------------------------------------
// SP Horizontal layout
// -----------------------------------------------------------------
@include sp_horizontal {
}

// -----------------------------------------------------------------
// SP layout
// -----------------------------------------------------------------
@include sp {
  #modal {
    #modalContents {
      max-width: initial;
      padding: 0;
    } // modalContents

    .btn_close {
      top: sp.vw(-35);
      right: calc(#{sp.vw(-26)} - var(--scrollbarWidth));
      width: sp.vw(88);
      height: sp.vw(88);

      &.active {
        right: sp.vw(-26);
      }
    } // btn_close
  } // modal
}
