@use 'sass:math';

// -----------------------------------------------------------------
// setting import
// -----------------------------------------------------------------
@use '../../core/' as *;
@use '../../core/config_pc' as *;
@use '../../core/config_max' as max;
@use '../../core/config_tb' as tb;
@use '../../core/config_sp_horizontal' as sph;
@use '../../core/config_sp' as sp;

// -----------------------------------------------------------------
// PC layout
// -----------------------------------------------------------------
[data-clickmovie] {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  will-change: transform;
  aspect-ratio: 1 / 0.563;

  &.is_loaded {
    pointer-events: initial;
  }

  &.active {
    .play {
      opacity: 0;
    }

    .poster {
      display: none;
    }
  }

  @include hover {
    .play {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }

  .loader {
    transform: translate(-50%, -50%);
    max-width: 50px;
    width: 15%;
    position: absolute;
    top: 50%;
    left: 50%;
    aspect-ratio: 1 / 1;
    z-index: 1;
    pointer-events: none;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 5px solid rgba(255, 255, 255, 0.6);
      border-top-color: $white;
      border-radius: 50%;
      animation: spin 1s linear infinite;
      z-index: 1;
      box-sizing: border-box;
    }
  }

  .play {
    z-index: 6;
  }

  .poster {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 0.5px);
    height: calc(100% + 0.5px);
    z-index: 5;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  video {
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
  }
}

[data-autoplaymovie] {
  width: 100%;

  &[data-use-fade='true'] {
    @include easing($property: filter, $duration: 0.5s);
    filter: brightness(1);
    will-change: filter;
    background-color: $black;
  }
}

// -----------------------------------------------------------------
// TB layout
// -----------------------------------------------------------------
@include tb {
}

// -----------------------------------------------------------------
// SP Horizontal layout
// -----------------------------------------------------------------
@include sp_horizontal {
}

// -----------------------------------------------------------------
// SP layout
// -----------------------------------------------------------------
@include sp {
}
